{extend name="layout/base" /}
{block name="title"}草帽跨境人才招聘{/block}
{block name="load"}
<!-- css -->
<link rel="stylesheet" href="__ACSS__/job.css">
{/block}
<!-- 主体内容 -->
{block name="main"}
    <div data-v-ca2ddf4c="" data-v-0fbb77d0="" style="margin-top: 150px;">
      <div data-v-ca2ddf4c="" class="clearfix mt20">
        <div data-v-ca2ddf4c="" class="w1200">
          <div data-v-ca2ddf4c="" class="job_details_topbox">
            <div data-v-ca2ddf4c="" class="job_details_topleft">
              <h1 data-v-ca2ddf4c="" class="job_details_name">{$job.name}</h1>
              <div data-v-ca2ddf4c="" class="job_details_salary"><span data-v-ca2ddf4c=""
                  class="job_details_salary_n">{$job.salary_min}-{$job.salary_max}</span></div>
              <div data-v-ca2ddf4c="" class="job_details_info">
                {$job.place}
                <span data-v-ca2ddf4c="" class="job_details_line">|</span>
                {:job_work_experience($job.work_experience)}
                <span data-v-ca2ddf4c="" class="job_details_line">|</span>
                {:job_education_background($job.education_background)}
              </div>
              <div data-v-ca2ddf4c="" class="job_details_welfare ">
                {foreach $job.welfare as $value}
                <span data-v-ca2ddf4c="" class="job_details_welfare_n">{$value}</span>
                {/foreach}
              </div>
            </div>
            <div data-v-ca2ddf4c="" class="job_details_topright">
              <div data-v-ca2ddf4c="" class="job_details_topright_data"><span data-v-ca2ddf4c=""
                  class="job_details_topright_data_time">{:postTime($job->getData('update_time'))} 更新</span>
              </div>
              <div data-v-ca2ddf4c="" class="job_details_top_operation">
                <!-- <a data-v-ca2ddf4c="" href="javascript:;" class="job_details_top_operation_sq">申请职位</a> -->
              </div>
              <div data-v-ca2ddf4c="" class="job_details_top_extension"></div>
            </div>
          </div>
        </div>
      </div>
      <div data-v-ca2ddf4c="" class="clear"></div>
      <div data-v-ca2ddf4c="" class="clearfix mt20">
        <div data-v-ca2ddf4c="" class="w1200">
          <div data-v-ca2ddf4c="" class="job_details_left">
            <div data-v-ca2ddf4c="" class="job_details_left_box">
              <div data-v-ca2ddf4c="" class="job_details_tit"><span data-v-ca2ddf4c=""
                  class="job_details_tit_s">联系方式</span> <i data-v-ca2ddf4c="" class="job_details_tit_line"></i></div>
              <div data-v-ca2ddf4c="" class="job_details_touch">
                <div data-v-ca2ddf4c="" class="job_details_user">
                  <div data-v-ca2ddf4c=""><span data-v-ca2ddf4c="" class="job_details_touch_username"></span></div>
                </div>
                <div data-v-ca2ddf4c="" class="job_details_touch_tel">
                  邮箱：<span data-v-ca2ddf4c="" class="job_details_touch_tel_n">{$job.email}</span></div>
                <div data-v-ca2ddf4c="" class="job_details_touch_add">
                  地址：{$job.address}
                </div>
              </div>
            </div>
            <div data-v-ca2ddf4c="" class="job_details_left_box">
              <div data-v-ca2ddf4c="" class="job_details_tit"><span data-v-ca2ddf4c=""
                  class="job_details_tit_s">职位描述</span><i data-v-ca2ddf4c="" class="job_details_tit_line"></i></div>
              <div data-v-ca2ddf4c="" class="job_details_describe"><span data-v-ca2ddf4c=""
                  class="job_details_describe_yq">招聘人数：{$job.job_number}人</span> <span data-v-ca2ddf4c=""
                  class="job_details_describe_yq">到岗时间：{:job_education_background($job.education_background)}</span>
                <p data-v-ca2ddf4c="">{$job.detail.job_description|raw}</p>
                <div data-v-ca2ddf4c="" class="clear"></div>
                <div data-v-ca2ddf4c="" class="job_details_tip">
                  求职提醒：求职过程请勿缴纳费用，谨防诈骗！若信息不实请举报。
                </div>
                <div data-v-ca2ddf4c="" class="clear"></div>
              </div>
            </div>
          </div>
          <div data-v-ca2ddf4c="" class="job_details_right">
            <div data-v-ca2ddf4c="" class="Compply_right_qy" style="margin-top: 15px;">
              <div data-v-ca2ddf4c="" class="Compply_logo"><img data-v-ca2ddf4c=""
                  src="{$job.logo}" width="140" height="140"></div>
              <div data-v-ca2ddf4c="" class="Compply_right_name">
                <div data-v-ca2ddf4c="">{$job.company}</div>
              </div>
              <div data-v-ca2ddf4c="" class="job_details_cominfo_tb">
                <!-- <i data-v-ca2ddf4c="" title="执照认证" class="job_details_cominfo_rz job_details_cominfo_rz_zz"></i> -->
              </div>
              <div data-v-ca2ddf4c="" class="clear"></div>
              <div data-v-ca2ddf4c="" class="Compply_right_js">
                <ul data-v-ca2ddf4c="">
                  <li data-v-ca2ddf4c=""><span data-v-ca2ddf4c="" class="Compply_right_span_c"><i data-v-ca2ddf4c=""
                        class="Compply_right_icon Compply_right_icon_hy"></i></span></li>
                  <li data-v-ca2ddf4c=""><span data-v-ca2ddf4c="" class="Compply_right_span_c"><i data-v-ca2ddf4c=""
                        class="Compply_right_icon Compply_right_icon_xz"></i>{:job_enterprise_type($job.enterprise_type)}</span></li>
                  <li data-v-ca2ddf4c=""><span data-v-ca2ddf4c="" class="Compply_right_span_c"><i data-v-ca2ddf4c=""
                        class="Compply_right_icon Compply_right_icon_rs"></i>{:job_people_number($job.people_number)}人</span></li>
                </ul>
              </div>
              <div data-v-ca2ddf4c="" class="job_details_cominfo_p">
                <div data-v-ca2ddf4c="" class="job_details_cominfo_p_b">
                  <div data-v-ca2ddf4c="" class="Company_Profile" style="padding-bottom: 0px;">
                    <div data-v-ca2ddf4c="" id="job_content" style="width: 100%; height: auto; overflow: hidden;">
                      <p data-v-ca2ddf4c="">{$job.detail.company_introduction}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
{/block}