{extend name="layout/base" /}
{block name="title"}跨境电商求职{/block}
{block name="load"}

<!-- css -->
<link type="text/css" rel="stylesheet" href="__ACSS__/laypage.css" id="laypagecss">
<link rel="stylesheet" href="__ACSS__/job.css">
<link rel="stylesheet" href="__ACSS__/resources-index.css" type="text/css">
<link href="__ACSS__/ZdCascader.css" rel="stylesheet" type="text/css">
<style>
    .bordered {
        border-color: #ececec !important;
        background: #fff;
    }

    .header-sort {
        border-bottom: #ddd 1px solid;
        height: 43px;
    }

    .header-sort dt {
        color: #666;
        font-size: 15px;
    }

    .laypage a:hover {
        color: #fff;
        background-color: #ff7600;
    }

    .laypage div {
        padding-top: 20px;
        text-align: center;
    }

    .aklai .flex-warp {
        float: left;
    }

    .more {
        display: inline-block;
        width: 80px;
        text-align: right;
        margin-right: 15px;
        margin-left: 10px;
        height: 35px;
        float: left;
        line-height: 30px;
        font-size: 14px;
        color: #333;
        font-weight: 700;
    }

    .zd-cascader-wrap {
        width: 162px !important;
        /* height: 30px !important; */
    }

    .zd-input__inner {
        text-align: center;
        font-size: 14px;
        color: #333;
    }
    
</style>
<!-- js -->
<script type="text/javascript" src="__AJS__/laypage.js"></script>
<script type="text/javascript" src="__AJS__/jquery.lazyload.js"></script>
<script type="text/javascript" src="__AJS__/job_post.js?{$time}"></script>
<script src="__AJS__/ZdCascader.js?{$time}"></script>
<script src="__AJS__/job_ZdCascader.js?{$time}"></script>
{/block}

<!-- 主体内容 -->
{block name="main"}

<div class="container body-container">

    <div class="main-div">
        <div class="nav_div_zwl" style="height:30px; line-height: 30px;">
        </div>

        <!-- 条件筛选区域 -->
        <div class="select-div bordered">
            <ul class="select">
                <!-- 月薪范围 -->
                <li class="select-list" id="salary_range">
                    <div id="less-city" class="show-info show">
                        <span class="label-left">月薪范围：</span>
                        <div class="list-area">
                            <span class="search {if $salary_range == 0}selected{/if}" data-id="0">
                                <a href="javascript:void(0)">全部</a>
                            </span>
                            <span class="search {if $salary_range == 1}selected{/if}" data-id="1">
                                <a href="javascript:void(0)">3000以下</a>
                            </span>
                            <span class="search {if $salary_range == 2}selected{/if}" data-id="2">
                                <a href="javascript:void(0)">3000-5000</a>
                            </span>
                            <span class="search {if $salary_range == 3}selected{/if}" data-id="3">
                                <a href="javascript:void(0)">5000-10000</a>
                            </span>
                            <span class="search {if $salary_range == 4}selected{/if}" data-id="4">
                                <a href="javascript:void(0)">10000-15000</a>
                            </span>
                            <span class="search {if $salary_range == 5}selected{/if}" data-id="5">
                                <a href="javascript:void(0)">15000-20000</a>
                            </span>
                            <span class="search {if $salary_range == 6}selected{/if}" data-id="6">
                                <a href="javascript:void(0)">20000以上</a>
                            </span>

                        </div>
                    </div>
                </li>
                <!-- 平台要求 -->
                <li class="select-list" id="platform">
                    <div id="less-city" class="show-info show">
                        <span class="label-left">平台要求：</span>
                        <div class="list-area">
                            <span class="search {if $platform == 0}selected{/if}" data-id="0">
                                <a href="javascript:void(0)">全部</a>
                            </span>
                            <span class="search {if $platform == 1}selected{/if}" data-id="1">
                                <a href="javascript:void(0)">Amazon</a>
                            </span>
                            <span class="search {if $platform == 2}selected{/if}" data-id="2">
                                <a href="javascript:void(0)">Wish</a>
                            </span>
                            <span class="search {if $platform == 3}selected{/if}" data-id="3">
                                <a href="javascript:void(0)">eBay</a>
                            </span>
                            <span class="search {if $platform == 4}selected{/if}" data-id="4">
                                <a href="javascript:void(0)">Lazada</a>
                            </span>
                            <span class="search {if $platform == 5}selected{/if}" data-id="5">
                                <a href="javascript:void(0)">Shopee</a>
                            </span>
                            <span class="search {if $platform == 6}selected{/if}" data-id="6">
                                <a href="javascript:void(0)">独立站</a>
                            </span>
                            <span class="search {if $platform == 7}selected{/if}" data-id="7">
                                <a href="javascript:void(0)">速卖通</a>
                            </span>
                            <span class="search {if $platform == 8}selected{/if}" data-id="8">
                                <a href="javascript:void(0)">Alibaba</a>
                            </span>
                            <span class="search {if $platform == 9}selected{/if}" data-id="9">
                                <a href="javascript:void(0)">其他</a>
                            </span>

                        </div>
                    </div>
                </li>
                <!-- 工作职位 -->
                <li class="select-list" id="position">
                    <div id="less-city" class="show-info show">
                        <span class="label-left">工作职位：</span>
                        <div class="list-area">
                            <span class="search {if $position == 0}selected{/if}" data-id="0">
                                <a href="javascript:void(0)">全部</a>
                            </span>
                            <span class="search {if $position == 1}selected{/if}" data-id="1">
                                <a href="javascript:void(0)">运营</a>
                            </span>
                            <span class="search {if $position == 2}selected{/if}" data-id="2">
                                <a href="javascript:void(0)">客服</a>
                            </span>
                            <span class="search {if $position == 3}selected{/if}" data-id="3">
                                <a href="javascript:void(0)">会计</a>
                            </span>
                            <span class="search {if $position == 4}selected{/if}" data-id="4">
                                <a href="javascript:void(0)">HR</a>
                            </span>
                            <span class="search {if $position == 5}selected{/if}" data-id="5">
                                <a href="javascript:void(0)">行政</a>
                            </span>
                            <span class="search {if $position == 6}selected{/if}" data-id="6">
                                <a href="javascript:void(0)">产品开发</a>
                            </span>
                            <span class="search {if $position == 7}selected{/if}" data-id="7">
                                <a href="javascript:void(0)">采购</a>
                            </span>
                            <span class="search {if $position == 8}selected{/if}" data-id="8">
                                <a href="javascript:void(0)">物流</a>
                            </span>
                            <span class="search {if $position == 9}selected{/if}" data-id="9">
                                <a href="javascript:void(0)">业务</a>
                            </span>
                            <span class="search {if $position == 10}selected{/if}" data-id="10">
                                <a href="javascript:void(0)">销售</a>
                            </span>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- 更多 -->
        <div class="bordered aklai" style="height: 50px;">

            <div class="more">
                <span class="label-left">更多：</span>
            </div>

            <!-- 学历要求 -->
            <div class="display-flex flex-warp content-wrap" id="education_background">
                <div class="content-right">
                    <input type="text" id="test2"
                        placeholder="{$education_background == '' ? '学历要求' : $education_background}" />
                    <input type="hidden" id="val" name="education_background" value="{$education_background}" />
                </div>
                <script>
                    $('#test2').zdCascader({
                        data: [
                            {
                                value: '1',
                                label: '学历不限',
                            },
                            {
                                value: '2',
                                label: '高中以下',
                            },
                            {
                                value: '3',
                                label: '高中',
                            },
                            {
                                value: '4',
                                label: '大专',
                            },
                            {
                                value: '5',
                                label: '本科',
                            },
                            {
                                value: '6',
                                label: '硕士',
                            },
                            {
                                value: '7',
                                label: '博士',
                            },
                        ]
                    });
                </script>
            </div>

            <!-- 工作经验 -->
            <div class="display-flex flex-warp content-wrap" id="work_experience">
                <div class="content-right">
                    <input type="text" id="test3" placeholder="{$work_experience == '' ? '工作经验' : $work_experience}" />
                    <input type="hidden" id="val" name="work_experience" value="{$work_experience}" />
                </div>
                <script>
                    $('#test3').zdCascader({
                        data: [
                            {
                                value: '1',
                                label: '经验不限',
                            },
                            {
                                value: '2',
                                label: '应届毕业生',
                            },
                            {
                                value: '3',
                                label: '1年以上',
                            },
                            {
                                value: '4',
                                label: '2年以上',
                            },
                            {
                                value: '5',
                                label: '3年以上',
                            },
                            {
                                value: '6',
                                label: '5年以上',
                            },
                            {
                                value: '7',
                                label: '8年以上',
                            },
                            {
                                value: '8',
                                label: '10年以上',
                            },
                            {
                                value: '9',
                                label: '经验不限',
                            },
                        ]
                    });
                </script>
            </div>

            <!-- 到岗时间 -->
            <div class="display-flex flex-warp content-wrap" id="duty_time">
                <div class="content-right">
                    <input type="text" id="test4" placeholder="{$duty_time == '' ? '到岗时间' : $duty_time}" />
                    <input type="hidden" id="val" name="duty_time" value="{$duty_time}" />
                </div>
                <script>
                    $('#test4').zdCascader({
                        data: [
                            {
                                value: '1',
                                label: '不限',
                            },
                            {
                                value: '2',
                                label: '1周以内',
                            },
                            {
                                value: '3',
                                label: '2周以内',
                            },
                            {
                                value: '4',
                                label: '3周以内',
                            },
                            {
                                value: '5',
                                label: '1个月之内',
                            },
                            {
                                value: '6',
                                label: '随时到岗',
                            },
                            {
                                value: '7',
                                label: '待定',
                            },
                        ]
                    });
                </script>
            </div>

            <!-- 更新时间 -->
            <div class="display-flex flex-warp content-wrap" id="update_time">
                <div class="content-right">
                    <input type="text" id="test5" placeholder="{$update_time == '' ? '更新时间' : $update_time}" />
                    <input type="hidden" id="val" name="update_time" value="{$update_time}" />
                </div>
                <script>
                    $('#test5').zdCascader({
                        data: [
                            {
                                value: '1',
                                label: '今天',
                            },
                            {
                                value: '2',
                                label: '最近3天',
                            },
                            {
                                value: '3',
                                label: '最近7天',
                            },
                            {
                                value: '4',
                                label: '最近1个月',
                            },
                            {
                                value: '5',
                                label: '最近3个月',
                            }
                        ]
                    });
                </script>
            </div>

            <!-- 发布城市 -->
            <div class="display-flex flex-warp content-wrap" id="city_value">
                <div class="content-right">
                    <input type="text" id="test1" placeholder="{$city_value == '' ? '发布城市' : $city_value}" />
                    <input type="hidden" id="val" name="city_value" value="{$city_value}" />
                </div>
                <script>
                    $('#test1').ZdCascaderJob({ data: china_places });
                </script>
            </div>

        </div>

        <div class="header-sort bordered" style="margin-top:20px;">
            <dl>
                <dt>排序：</dt>
                <dd class="{$order != 1 ?: 'selected'}" data-type="1">
                    <a href="javascript:void(0)">综合排序</a>
                </dd>
                <dd class="{$order != 2 ?: 'selected'}" data-type="2">
                    <a href="javascript:void(0)">更新时间</a>
                </dd>
            </dl>
        </div>

        <div class="main-list-group">
            <div class="col-md-9 left">

                <!-- 职位列表 -->
                <div class="data-div">

                    <input type="hidden" id="count" value="{$count}">
                    <input type="hidden" id="thisPage" value="{$page}">

                    <div data-v-25fc4253="" class="clearfix">
                        <div data-v-25fc4253="" class="w1200">

                            <div data-v-25fc4253="" class="left_job_all fl">
                                <div data-v-25fc4253="" class="job_left_sidebar">

                                    {foreach $job as $key => $value}
                                    <div data-v-25fc4253="" class="search_job_list">
                                        <div data-v-25fc4253="" class="yunjoblist_new">
                                            <div data-v-25fc4253="" class="yunjoblist_newname">
                                                <a data-v-25fc4253="" href="{:url('job/detail', ['id' => $value.id])}"
                                                    class="yunjoblist_newname_a" target="_blank"
                                                    title="{:job_position($value.position)}">{:job_position($value.position)}</a>
                                            </div>
                                            <div data-v-25fc4253="" class="yunjoblist_newxz">
                                                {$value.salary_min}-{$value.salary_max}元</div>
                                            <div data-v-25fc4253="" class="yunjoblist_newcomename">
                                                <a data-v-25fc4253="" href="{:url('job/detail', ['id' => $value.id])}"
                                                    class="search_job_com_name"
                                                    title="{$value.company}">{$value.company}</a>
                                            </div>
                                            <span data-v-25fc4253="" class="yunjoblist_new_time">
                                                <span data-v-25fc4253=""
                                                    style="color: red;">{:postTime($value->getData('update_time'))}</span>
                                            </span>
                                        </div>
                                        <div data-v-25fc4253="" class="jobshow ">
                                            <div data-v-25fc4253="" class="search_job_left_siaber">
                                                <div data-v-25fc4253="" class="company_det">
                                                    <span data-v-25fc4253="" class="search_job_list_box_s">
                                                        <em data-v-25fc4253=""
                                                            class="com_search_job_em">{$value.place}</em>
                                                    </span>
                                                    <span data-v-25fc4253="" class="search_job_list_box_line">|</span>
                                                    <span data-v-25fc4253="" class="search_job_list_box_s">
                                                        <em data-v-25fc4253=""
                                                            class="com_search_job_em">{:job_work_experience($value.work_experience)}</em>
                                                    </span>
                                                    <span data-v-25fc4253="" class="search_job_list_box_line">|</span>
                                                    <span data-v-25fc4253="" class="search_job_list_box_s">
                                                        <em data-v-25fc4253=""
                                                            class="com_search_job_em">{:job_education_background($value.education_background)}</em>
                                                    </span>
                                                </div>
                                                <div data-v-25fc4253="" class="job_describe_p">
                                                    {foreach $value->getAttr('welfare') as $val}
                                                    <span data-v-25fc4253="" class="job_describe_p_s">{$val}</span>
                                                    {/foreach}
                                                </div>
                                                <!-- <div data-v-25fc4253="" class="yun_job_operation_d">
                                                    <a data-v-25fc4253="" href="javascript:void(0);"
                                                        class="yun_job_operation_sc">收藏</a>
                                                </div> -->
                                            </div>
                                            <div data-v-25fc4253="" class="yun_joblist_ope">
                                                <a data-v-25fc4253="" href="{:url('job/detail', ['id' => $value.id])}"
                                                    class="search_job_Apply_fast" target="_blank">查看职位</a>
                                                <!-- <a data-v-25fc4253="" href="javascript:void(0)" class="search_job_Apply_fast">在线聊天</a> -->
                                            </div>
                                        </div>
                                    </div>
                                    {/foreach}
                                </div>
                                <!-- {$job|raw} -->
                                <div id="laypage" class="laypage"></div>
                            </div>


                            <div data-v-25fc4253="" class="yun_job_list_right">
                                <!-- <div data-v-25fc4253="" class="yun_job_list_right_banner"><a data-v-25fc4253=""
                                        href="http://wkxxk.cn/iiFyj0g" target="_blank" rel=""><img data-v-25fc4253=""
                                            src="/static/akali/images/ffefbb09619c4c9ff846e8021a1d6cdf.jpg"
                                            width="245">
                                        </a>
                                </div> -->
                                <div data-v-25fc4253="" class="job_recommendation">
                                    <div data-v-25fc4253="" class="job_recommendation_title"><span data-v-25fc4253=""
                                            class="job_recommendation_span"><i data-v-25fc4253=""
                                                class="job_recommendation_span_line"></i>精选职位推荐</span>
                                    </div>
                                    <ul data-v-25fc4253="" class="job_recommendation_list">

                                        {foreach $featuredJob as $value}
                                        <li data-v-25fc4253="">
                                            <a data-v-25fc4253="" href="{:url('detail', ['id'=>$value.id])}">
                                                <font data-v-25fc4253="" color="red">{:job_position($value.position)}</font>
                                            </a>
                                            <a data-v-25fc4253="" href="javascript:void(0)"
                                                class="job_recommendation_Comname">{$value.company}
                                            </a>
                                            <div data-v-25fc4253=""  class="job_recommendation_msg">
                                                <span data-v-25fc4253="">
                                                    <em data-v-25fc4253="" class="job_right_box_list_c">{$value.salary_min}-{$value.salary_max} </em>
                                                </span>
                                            </div>
                                        </li>
                                        {/foreach}
                                        
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            var request = getParams();

            // 如果不存在分页，就去掉多余的边框
            if ($('#laypage').length == 0) {
                $('.data-div').css('margin', '0px auto 0px auto');
            }
        });

        // 将url参数封装成json对象
        function getParams() {
            var url = decodeURI(location.search); //获取url中"?"符后的字符串
            var request = new Object();
            if (url.indexOf("?") != -1) {
                var str = url.substr(1);
                strs = str.split("&");
                for (var i = 0; i < strs.length; i++) {
                    request[strs[i].split("=")[0]] = decodeURI(strs[i].split("=")[1]);
                }
            }
            return request;
        }
    </script>
</div>


{/block}