{extend name="layout/base" /}
{block name="title"}微信支付{/block}
{block name="load"}
<link href="__ACSS__/payWeixin.css" rel="stylesheet" type="text/css">
{/block}
<!-- 主体内容 -->
{block name="main"}
    <div class="container body-container">

        <div class="info_Pay_main">
            <input type="hidden" id="order_id" value="{$order.id}">
            <div class="coupon_list_outside">
                <div class="orderPayTop">
                    <div class="l">
                        <p class="order">订单号：{$order.order_sn}</p>
                        <p class="name">活动名称：{$activity.title}</p>
                    </div>
                    <div class="r">
                        <p class="money">
                            <span>需支付</span> <i>{:sprintf("%.2f", $order.total)}</i> <span>元</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="order_ma_wx">
                <div class="order_ma_T">
                    <img src="__AIMG__/pay_wx2.png">
                    <span>订单将为您保留30分钟，请您及时付款，以便订单尽快处理！</span>
                </div>
                <div class="order_ma_C">
                    <div class="l">
                        <div class="img">
                            <div id="pay_Ma" title="">
                                <img alt="Scan me!" src="__AIMG__/weixin-qr.png">
                                <img alt="Scan me!" src="{$wechat_qr}">
                            </div>
                        </div>
                        <p class="ts">
                            <img src="__AIMG__/wx_ts.png">
                        </p>
                    </div>
                    <img class="wxTsPic" src="__AIMG__/wx_tsPic.jpg">
                </div>
                <p class="btn_return">
                    <a href="javascript:void(0)" onclick="chosenPay();">&lt;选择其他支付方式</a>
                </p>
            </div>
        </div>

        <script>
            $(function() {
                // 检测是否支付成功
                setInterval("ajaxstatus()", 3000);
            });

            function ajaxstatus() {
                var order_id = $("#order_id").val();
                if (order_id != 0) {
                    $.ajax({
                        url: "/index/activity_api/checkWxOrder",
                        type: "POST",
                        dataType: "json",
                        data: { order_id: order_id },
                        success: function(json) {
                            if (json.code == 200) {
                                layer.msg('支付成功', {
                                    icon: 1,
                                    time: 2000
                                }, function() {
                                    window.location.href = "/index/activity/order_success?order_id=" + order_id;
                                });
                            }
                        }
                    });
                }
            }

            function chosenPay() {
                location.href = "/index/activity/confirm?order_id=" + $("#order_id").val();
            }
        </script>
    </div>
{/block}