{include file="public/header" /}

<div class="mainbox animated fadeInRight">

	<div class="mainnav_title">

	    <a class="on">内容列表</a>

		{include file="public/menu_right" /}

	    <a class="bth-rand fr" href="javascript:location.replace(location.href);" title="刷新"><b class="uzfont uzico-shuaxin"></b></a>

    </div>

<table  class="search_table" width="100%">

	<tr>

		<td class="search">

			<form action="{:url('content/index')}" method="get">

				<input id="title" type="text" class="input-text" name="keyword" placeholder="关键字搜索" value="{$Think.get.keyword}" />

				<select class="catid" name="status">

					<option value="-1" {eq name="keys['status']" value="-1"}selected{/eq}>审核状态</option>

					<option value="0" {eq name="keys['status']" value="0"}selected{/eq}>未审核</option>

					<option value="1" {eq name="keys['status']" value="1"}selected{/eq}>已审核</option>

				</select>

				<input type="hidden" name="tree" value="{$tree_id}"/>

				<input type="submit" value="{:lang('chaxun')}"  class="button" />

				<a href="{:url('content/index')}" class="button">重置</a>

			</form>

		</td>

	</tr>

</table>

<form name="myform" id="myform" action="" method="post">

<div class="table-list">

    <table width="100%" cellspacing="0">

		<thead>

            <tr>

				<th width="20">ID</th>

				<th width="50">{:lang('listorder')}</th>

				<th width="80" align="left">封面/ICON</th>

				<th width="250" align="left">标题</th>

				<th width="100" align="left">栏目分类</th>

				<th width="300" align="left">跳转网址</th>

				<th width="50">类别</th>

				<th width="100">{:lang('createtime')}</th>

				<th width="50">热门推荐</th>

				<th width="50">{:lang('STATUS')}</th>

				<th align="left">{:lang('manage')}</th>

			</tr>

        </thead>

      	<tbody>

			{volist name="list" id="v"}

			<tr>

				<td width="20" align="center">{$v['id']}</td>

				<td  width="50" align='center'><input name='listorders[{$v.id}]' type='text' size='3' value='{$v.listorder}' class='input-text-c'></td>

				<td align="left"><img width="50" src="{$v['thumb']?$v['thumb']:'__UIMG__/nodata.svg'}"/></td>

				<td align="left">{$v['title']}</td>

				<td align="left">{:isset($category[$v['catid']]) ? $category[$v['catid']]['catname'] : '<font color="red">已删除</font>'}</td>

				<td><a target="_blank" rel="nofollow" href="{$v['ourl']}">{$v['ourl']}</a></td>

				<td align="center">{$v['type']==1?'站内':'站外'}</td>

				<td align="center">{:date('Y-m-d',$v['createtime'])}</td>

				<td align="center">{$v['ishot']?'<font color="#2d75c3">是</font>':'否'}</td>

				<td align="center">

					{eq name="v['status']" value="1"}

					<a class="bth-a ajax-status" onclick="StatusAjax(this);" data-href="{:url('ajax/statusajax')}?id={$v['id']}&status=0"></a>

					{else /}

					<a class="bth-a error-c ajax-status" onclick="StatusAjax(this);" data-href="{:url('ajax/statusajax')}?id={$v['id']}&status=1"></a>

					{/eq}

				</td>

				<td align="left">

					<a href="{:url('content/edit')}?id={$v['id']}&tree={$tree_id}">{:lang('edit')}</a> |

					<a href="javascript:confirm_delete('{:url(\'content/del\')}?id={$v[\'id\']}&tree={$tree_id}')">{:lang('delete')}</a>

				</td>

			</tr>

			{/volist}

      	</tbody>

    </table>

    <div class="btn">

	    <input  type="button" class="button" value="{:lang('listorder')}" onclick="myform.action='{:url(\'content/listorder\')}';$('#myform').submit();" />

    </div>

</div>

</form>

</div>

<div id="pages" class="page">{$list|raw}</div>