{extend name="layout/base" /}
{block name="title"}{$keyword.name}{/block}
{block name="load"}
<!-- css -->
<link href="__MCSS__/article.css" rel="stylesheet" type="text/css">
<link type="text/css" rel="stylesheet" href="__ACSS__/laypage.css" id="laypagecss">
<!-- js -->
<script type="text/javascript" src="__AJS__/jquery.lazyload.js"></script>
{/block}
<!-- 主体内容 -->
{block name="main"}
<!--search--->
<div class="container">
    <style>
        .laypage {
            text-align: right;
            padding-right: 15px;
            margin-top: 10px;
        }
    </style>

    <div class="all_article overseas-main">
        <div class="overseas-header">
            <a class="btn-back" href="javascript:history.back()"><i class="fa fa-angle-left"></i> 返回</a>
            <h3>关键词"{$keyword.name}"</h3>
        </div>
        <input type="hidden" value="{$countList}" id="countList">
        <input type="hidden" value="{$keyword.id}" id="keywordId">
        <ul class="list_article home-main">

            {foreach $articleList as $value}
            <li>
                <a class="alink" href="{:url('home/article', ['id' => $value.id])}">
                    <img alt="{$value.title}" src="{$value.thumb}">
                </a>
                <div class="art_con">
                    <h2>
                        <a class="title" href="{:url('home/article', ['id' => $value.id])}">{$value.title}</a>
                    </h2>
                    <a href="{:url('home/article', ['id' => $value.id])}">
                        <img src="__ICON__/icon-caomao-small.png">
                        <h3>草帽跨境</h3>
                    </a>
                    <span class="times">{:postTime($value.createtime)}</span>
                </div>
            </li>
            {/foreach}

            
        </ul>
        <!-- 分页-->
        <div id="laypage" class="laypage"></div>



    </div>
    <script>
        $(function() {
            var pageSize = 10;
            laypage({
                cont: 'laypage', //容器。值支持id名、原生dom对象，jquery对象。【如该容器为】：<div id="page1"></div>
                pages: Math.ceil($("#countList").val() / pageSize), //通过后台拿到的总页数
                curr: 1,
                skin: '#fc9d27',
                first: '首页', //若不显示，设置false即可
                last: '尾页', //若不显示，设置false即可
                prev: '<', //若不显示，设置false即可
                next: '>', //若不显示，设置false即可
                jump: function(obj, first) { //触发分页后的回调
                    if (!first) { //点击跳页触发函数自身，并传递当前页：obj.curr
                        getList(obj.curr);
                    }
                }
            });
        });

        function getList(page) {
            var loadding = layer.load(0, {
                shade: false
            });
            $.ajax({
                url: "/index/home_api/keywordArticle",
                type: "POST",
                data: {
                    page: page,
                    keywordId: $("#keywordId").val(),
                    _csrf: $('.getCsrfTokenJzc').val(),
                },
                dataType: "json",
                success: function(json) {
                    layer.close(loadding);
                    if (json.code == 200) {
                        var html = '';
                        if (json.data != '') {
                            $.each(json.data, function(key, val) {
                                html += '<li>';
                                if (val.al_thumb != '') {
                                    html += '<a class="alink" href="/index/home/article/id/' + val.al_id + '">';
                                    html += '<img alt="' + val.al_title + '" src="' + val.al_thumb + '">';
                                    html += '</a>';
                                }
                                html += '<div class="art_con">';
                                html += '<h2>';
                                html += '<a class="title" href="/index/home/article/id/' + val.al_id + '">' + val.al_title + '</a>';
                                html += '</h2>';
                                html += '<a href="/index/home/article/id/' + val.al_id + '">';
                                html += '<img src="__ICON__/icon-caomao-small.png">';
                                html += '<h3>草帽跨境</h3>';
                                html += '</a>';
                                html += '<span class="times">' + val.al_post_time + '</span>';
                                html += '</div>';
                                html += '</li>';
                            });
                        }
                        $(".list_article").html(html);
                    } else {
                        layer.msg(data.msg);
                    }
                },
                error: function() {
                    layer.close(loadding);
                    layer.msg('网络错误！');
                }
            });
        }
    </script>
</div>
{/block}