{extend name="layout/base" /}
{block name="title"}关于我们{/block}
{block name="load"}
<!-- css -->
<link rel="stylesheet" href="__ACSS__/about.css">

<!-- js -->
{/block}
<!-- 主体内容 -->
{block name="main"}

        <div class="container body-container">
            <style>
                .body-container {
                    width: 100% !important;
                }
            </style>
            <div class="uscontainer rotate-size">
                <div class="usmax">
                    <img src="{$banner.thumb}" class="usmax_img">
                </div>
                <div class="usmin kjy_con">
                    <div class="kjy-t">
                        <img class="kjy-t__img" src="__AIMG__/a30.png">
                        <div class="kjy-t__right">
                            <img class="kjy-right__img" src="__ICON__/icon-logo.png" style="height: 120px;">
                            <p class="kjy-right__desc mainText">
                                广州草帽电子商务有限公司（简称：速卖通草帽）成立于2013年，是速卖通大学官方培训机构，同时负责速卖通平台广州、佛山、中山、江门等区域的中国好卖家招商，专注于速卖通线下培训和线上教育两大培训业务，主要有线上课程、进阶课程、高阶课程、管理课程、品牌孵化、代运营等速卖通跨境电商培训。
                            </p>
                            <div class="kjy-right__b">
                                <div class="kjy-right__tag">
                                    <img class="kjy-tag__img"
                                        src="__AIMG__/3a0e4eb67fa1c475.png">
                                    <span class="kjy-tag__span subText">企业管理培训</span>
                                </div>
                                <div class="kjy-right__tag">
                                    <img class="kjy-tag__img"
                                        src="__AIMG__/978a610d444ba0d2.png">
                                    <span class="kjy-tag__span subText">跨境知识库</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kjy-b">
                        <div class="kjy-cell">
                            <p class="kjy-cell__hd">8000+</p>
                            <p class="subText">草帽跨境已注册用户</p>
                        </div>
                        <div class="kjy-cell">
                            <p class="kjy-cell__hd">5000+</p>
                            <p class="subText">草帽跨境日均访问量</p>
                        </div>
                        <div class="kjy-cell">
                            <p class="kjy-cell__hd">3000+</p>
                            <p class="subText">2020年活动报名人次</p>
                        </div>
                        <div class="kjy-cell">
                            <p class="kjy-cell__hd">200+</p>
                            <p class="subText">物流资源</p>
                        </div>
                        <div class="kjy-cell">
                            <p class="kjy-cell__hd">300+</p>
                            <p class="subText">生态圈服务商</p>
                        </div>
                    </div>
                </div>
                <div class="usmax haitun_con">
                    <div class="haitun_main">
                        <img class="haitun_logo" src="__AIMG__/logo.png">
                        <div class="haitun-cards">
                            <div class="haitun-card">
                                <img src="__AIMG__/ab7291b664d780bc.png"
                                    class="haitun-card__img">
                                <div class="haitun-card__bd">
                                    <p class="haitun-card__title">我们的使命</p>
                                    <p class="haitun-card__desc">助力中小企业品牌成长，轻松跨境</p>
                                </div>
                            </div>
                            <div class="haitun-card">
                                <img src="__AIMG__/169b3c8d36e525bb.png"
                                    class="haitun-card__img">
                                <div class="haitun-card__bd">
                                    <p class="haitun-card__title">我们的愿景</p>
                                    <p class="haitun-card__desc">打造中小企业跨境生态圈 </p>
                                </div>
                            </div>
                            <div class="haitun-card">
                                <img src="__AIMG__/1c002d80d9477244.png"
                                    class="haitun-card__img">
                                <div class="haitun-card__bd">
                                    <p class="haitun-card__title">我们的价值观</p>
                                    <p class="haitun-card__desc">责任、快乐、团结、分享、创新、激情</p>
                                </div>
                            </div>
                        </div>
                        <div class="haitun-desc">
                            <p class="haitun-desc_cell">
                                <span><span class="haitun-desc_xuhao">1</span> 帮助管理者打胜仗的智慧平台；</span>
                            </p>
                            <p class="haitun-desc_cell">
                                <span><span class="haitun-desc_xuhao">2</span> 多元课程体系&amp;企业经营管理模型&amp;精品案例解读；</span>
                            </p>
                            <p class="haitun-desc_cell">
                                <span><span class="haitun-desc_xuhao">3</span> 校友群体：跨境电商行业创始人、合伙人、中高层管理者为主；</span>
                            </p>
                            <p class="haitun-desc_cell">
                                <span><span class="haitun-desc_xuhao">4</span>
                                    草帽跨境，依托深耕跨境电商8年+的专业团队基础，致力于为跨境电商行业打造3万名“卓越经营者”。</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="usmin">
                    <div class="haitunhd_title titleText">草帽往期回顾</div>
                    <div class="haitunhd_main clearfix">
                        <img class="hd-left__img" src="__AIMG__/a20.jpg">
                        <img src="__AIMG__/a26.jpg">
                        <span>
                            <img class="hd-left__img" src="__AIMG__/a24.jpg">
                            <img class="hd-left__img" src="__AIMG__/a25.jpg">
                            <img class="hd-left__img" src="__AIMG__/a13.jpg">
                        </span>
                        <img src="__AIMG__/a3.jpg">
                        <img class="hd-left__img" src="__AIMG__/a23.jpg">
                        <img src="__AIMG__/a21.jpg">
                        <img class="hd-left__img" src="__AIMG__/a16.jpg">
                        <img class="hd-right__img" src="__AIMG__/a27.jpg">
                    </div>
                </div>
                <div class="usmin guangcha_con">
                    <div class="guangcha-hd">
                        <p class="titleText">草帽跨境观察</p>
                        <p class="guangcha-hd__desc"> 用观察家的眼光看跨境电商，用跨境人的视角观全球经济</p>
                    </div>
                    <div class="guangcha-main">
                        <div class="guangcha-card">
                            <div class="guangcha-card__l">
                                <img src="__AIMG__/f5da3d8acc7ceb12.png">
                                <div class="guangcha-card__text">
                                    <p class="mainText">行业资讯</p>
                                    <p class="guangcha-subText">传递跨境电商行业最新、最全的热点资讯</p>
                                </div>
                                <p class="guangcha-card__xuhao">01</p>
                            </div>
                            <div class="guangcha-card__r">
                                <img src="__AIMG__/9f218b2dc70dea4a.png">
                                <div class="guangcha-card__text">
                                    <p class="mainText">数据报告</p>
                                    <p class="guangcha-subText">深度调研，犀利剖析数据下的行业百生相</p>
                                </div>
                                <p class="guangcha-card__xuhao">02</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="usmin usfooter">
                    <p class="usfooter_text1">遇见创造奇迹，欢迎加入我们</p>
                    <p class="usfooter_text2">——— 跨境卖家综合服务平台</p>
                </div>
            </div>
            <script>
                $(function () {
                    var descInfo = {
                        "pingtai_li": 160,
                        "haitun_li": 1806,
                        "guangcha_li": 4558,
                        "lcd_li": 5157
                    }
                    var isNavClick = false;
                    $(window).scroll(function () {
                        if (!isNavClick) {
                            var scrollTop = $(document).scrollTop();
                            if (scrollTop >= descInfo.lcd_li) {
                                $("#lcd_li").addClass("active").siblings().removeClass("active");
                            } else if (scrollTop >= descInfo.guangcha_li) {
                                $("#guangcha_li").addClass("active").siblings().removeClass("active");
                            } else if (scrollTop >= descInfo.haitun_li) {
                                $("#haitun_li").addClass("active").siblings().removeClass("active");
                            } else if (scrollTop >= descInfo.pingtai_li) {
                                $("#pingtai_li").addClass("active").siblings().removeClass("active");
                            }
                        }
                    });
                    $(".nav_li").click(function () {
                        isNavClick = true;
                        if (isNavClick) {
                            $(this).addClass("active").siblings().removeClass("active");
                            var curId = $(this).attr('id');
                            var targetOffset = descInfo[curId];
                            $('html,body').animate({ scrollTop: targetOffset }, 800);
                            setTimeout(() => {
                                isNavClick = false;
                            }, 900);
                        }
                    })
                });

            </script>
        </div>
    </div>
{/block}