{include file="public/header" /}
<div class="mainbox animated fadeInRight">
	<div class="mainnav_title">
		<a class="on">广告修改</a>
		<a class="add-edit" href="{:url('ads/index')}?tree={$tree_id}">[<b class="uzfont uzico-fanhui"></b>返回列表]</a>
		<a class="bth-rand fr" href="javascript:location.replace(location.href);" title="刷新"><b class="uzfont uzico-shuaxin"></b></a>
	</div>
	<form name="myform" id="myform" action="" method="post">
		<table cellpadding=0 cellspacing=0 class="table_form" width="100%">
			<tr>
				<td width="90"><font color="red">*</font>类型</td>
				<td>
					<select class="select-type" name="type">
						<option value="1" {if condition="$list['type'] eq 1"}selected{/if}>文本</option>
						<option value="2" {if condition="$list['type'] eq 2"}selected{/if}>图文</option>
					</select>
				</td>
			</tr>
			<tr>
				<td width="90"><font color="red">*</font>{:lang('title')}</td>
				<td><input type="text" name="name" value="{$list['name']}" class="input-text" size="50" validate="required:true,minlength:2,maxlength:150"/></td>
			</tr>
			<tr>
				<td><font color="red">*</font>链接</td>
				<td><input type="text" name="url" value="{$list['url']}" class="input-text" size="50" validate="required:true,url:true"/></td>
			</tr>
			<tr class="covers {$list['type'] == 1 ? 'hide' : ''}" style="height: 168px;">
				<td>广告封面</td>
				<td style="position: relative;">
					<img class="up_cover" width="100" onclick="up_img('up_cover','cover','jpg,gif,png,jpeg','10485760','290px','0','{:cache(\'extend_config\')[\'buck_on\']}');" src="{if condition='$list["cover"]'}{$list['cover']}{else /}__UIMG__/upload_thumb.png{/if}" alt="上传图片" />
					<input type="hidden" class="cover" name="cover" value="{$list['cover']}"/>
				</td>
			</tr>
			<tr>
				<td>nofollow</td>
				<td>
					<input type="radio" class="input_radio" name="nofollow" {eq name="list['nofollow']" value="1"}checked{/eq} value="1"> 开启
					<input type="radio" class="input_radio" name="nofollow" {eq name="list['nofollow']" value="0"}checked{/eq} value="0"> 默认
				</td>
			</tr>
			<tr>
				<td>状态</td>
				<td>
					<input type="radio" class="input_radio" name="status" {eq name="list['status']" value="1"}checked{/eq} value="1" /> 显示
					<input type="radio" class="input_radio" name="status" {eq name="list['status']" value="0"}checked{/eq} value="0" /> 不显示
				</td>
			</tr>
		</table>
		<div  class="btn">
			<input type="hidden" name="id" value="{$list['id']}"/>
			<input type="submit" value="{:lang('dosubmit')}" class="button" />
			<input type="reset" value="{:lang('cancel')}" class="button" />
		</div>
	</form>
</div>
</body>
<script>
    $(function(){
        $(".select-type").on("change",function(){
            var _val = parseInt($(this).val());
            if(_val == 2){
                $(".covers").removeClass('hide')
            } else {
                $(".covers").addClass('hide')
            }
        })
    });
</script>
</html>