{extend name="layout/base" /}

{block name="title"}用户注册{/block}

{block name="load"}
<link href="__ACSS__/login.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__AJS__/login.js"></script>
{/block}

<!-- 主体内容 -->
{block name="main"}
<div class="container body-container">
    <meta name="robots" content="noindex,nofollow">
    <div class="site-signup-box">
        <form class="registerForm" role="form">
            <input type="hidden" id="lasturl" value="{:lastUrl()}">
            <div class="site-login site-signup">
                <!--tab注册登录切换-->
                <!-- <div class="outregBox site-signup-title">
                    <h4>用户注册</h4>
                    <select name="user_type">
                        <option value="1">普通用户</option>
                        <option value="2">企业用户</option>
                        <option value="3">服务商用户</option>
                    </select>
                </div> -->
                <!-- Tab panes -->
                <div class="tab-content site-signup-content">
                    <!-- 登录-->
                    <div role="tabpanel" class="tab-pane active" id="login">
                        <div class="form-group">
                            <div class="input-icon">
                                <!--                        <i class="icon-phone"></i>-->
                                <input type="text" class="form-control required " name="phone" id="phone" placeholder="请输入手机">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class=" input-icon">
                                <div class="input-group">
                                    <!--                            <i class="icon-code"></i>-->
                                    <input type="text" class="form-control" name="code" placeholder="输入验证码">
                                    <span class="input-group-btn">
                                        <button class="site-signup-code btn btn-code" id="get-code" type="button" data-item="1">获取验证码</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-icon">
                                <!--                        <i class="icon-name"></i>-->
                                <input type="text" class="form-control" name="username" id="username" placeholder="请输入用户名,只能为英文字母和数字,6-20位">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-icon">
                                <!--                        <i class="icon-psd"></i>-->
                                <input type="password" class="form-control" name="password" id="password" placeholder="请输入密码,最少8位">
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="checkbox pull-left">
                                <label>
                                    <input type="checkbox" id="agreement" title="同意协议"> 阅读同意<a target="_blank" class="agreement" href="{:url('login/agreement')}">《  草帽跨境用户使用协议 》</a>
                                </label>
                            </div>
                        </div>
                        <button type="button" id="sub-register" class="btn btn-block btn-submit">注册</button>
                        <a class="login-btn-a" href="{:url('index')}">已有账户？<span>去登录</span></a>
                    </div>
                </div>
            </div>
        </form>
        <div class="site-signup-desc">
            <!-- <p> 普通用户权益</p> -->
            <p>1. 物流资源：草帽跨境覆盖欧美、东南亚、中东、非洲等全球共200+家物流商资源，实时给跨境卖家带来高质量的物流服务商。</p>
            <p>2. 跨境活动：全行业活动信息发布窗口，汇集各类平台活动、高峰论坛、卖家聚会、行业展会和选品大会等。。</p>
            <p>3. 行业咨询：聚合行业最新资讯、平台政策信息、运营干货、热销案例解析，提供最新的行业动态、政策解读和深度观点等。。</p>
        </div>
    </div>
</div>
{/block}