{extend name="layout/base" /}
{block name="title"}跨境眼用户使用协议{/block}
{block name="load"}

<!-- css -->
<link rel="stylesheet" href="__MCSS__/single.css">

<!-- js -->

{/block}
<!-- 主体内容 -->
{block name="main"}

        <div class="container">
            <div class="site-index">
                <h2 class="c_til">跨境眼用户使用协议</h2>
                <div class="about_con">
                    一、总则
                    <p>
                        1.1 跨境眼http://www.kuajingyan.com/的所有权和运营权归深圳易仓科技有限公司所有。</p>
                    <p>
                        1.2 用户在使用本平台的服务之前，应当仔细阅读本协议，并同意遵守本协议及规则后方可成为跨境眼用户，一旦用户注册成功，则用户与本平台之间自动形成协议关系，用户应当受本协议及相关规则的约束。</p>
                    <p>
                        1.3 本协议可由本平台随时更新，用户同意本平台不承担通知义务。本平台的通知、公告、声明或其它类似内容是本协议及相关规则的一部分。</p>
                    <p>
                        二、服务内容</p>
                    <p>
                        2.1 本平台提供免费的行业资讯、行业服务、行业需求、搜索服务，同时还提供付费行业活动服务等。</p>
                    <p>
                        2.2 本平台仅提供相关的平台络服务，除此之外与相关平台络服务有关的设备(如个人电脑、手机、及其他与接入互联平台或移动平台有关的装置)及所需的费用(如为接入互联平台而支付的电话费及上平台费、为使用移动平台而支付的手机费)均应由用户自行负担。</p>
                    <p>
                        二、服务内容</p>
                    <p>
                        3.1 用户可通过以下方式注册成为跨境眼的正式用户：</p>
                    <p>
                        (1)经本平台用户系统完成注册程序并通过身份认证的用户；</p>
                    <p>
                        (2)经本平台批准的第三方合作平台站登录的的用户（新浪微博、QQ、微信）；</p>
                    <p>
                        成为跨境眼正式用户即获得本平台规定用户所应享有的一切权限；未经认证仅享有本平台规定的部分权限。跨境眼有权对用户的权限设计进行变更。</p>
                    <p>
                        3.2 用户账号注册</p>
                    <p>
                        (1)使用本平台会员系统注册的用户，只能使用汉字、英文字母、数字、下划线及它们的组合，禁止使用空格、各种符号和特殊字符，且最多不超过16个字符(8个汉字)注册，否则将不予注册。</p>
                    <p>
                        (2)使用第三方合作平台站登录的用户，只能使用汉字、英文字母、数字、下划线及它们的组合，禁止使用空格、各种符号和特殊字符，且最多不超过16个字符(8个汉字)注册，否则本平台有权只截取前16个字符（8个汉字）予以显示用户账号（若该用户账号与平台现有用户账号重名，系统将随机添加一个字符以示区别），否则将不予注册。</p>
                    <p>
                        3.3 如发现用户账号中含有不雅文字或不恰当名称的，本平台保留取消其用户资格的权利，相应后果由用户自行承担。</p>
                    <p>
                        (1)请勿以党和国家领导人或其他社会名人的真实姓名、字号、艺名、笔名注册；</p>
                    <p>
                        (2)请勿以国家机构或其他机构的名称注册；</p>
                    <p>
                        (3)请勿注册不文明、不健康名字，或包含歧视、侮辱、猥亵类词语的账号；</p>
                    <p>
                        (4)请勿注册易产生歧义、引起他人误解或其它不符合法律规定的账号。</p>
                    <p>
                        3.4 如发现用户的个人信息中包含违法和不良信息的，本平台保留取消其用户资格的权利。</p>
                    <p>
                        3.5 用户申请成功后，有义务保证密码和账号的安全，用户利用该密码和账号所进行的一切活动引起的任何损失或损害，由用户自行承担全部责任，本平台不承担任何责任。如用户发现账号遭到未授权的使用或发生其他任何安全问题，应立即修改账号密码并妥善保管，如有必要，请通知本平台。因黑客行为或用户的保管疏忽导致账号非法使用，本平台不承担任何责任。</p>
                    <p>
                        四、使用规则</p>
                    <p>
                        4.1 遵守中华人民共和国相关法律法规，包括但不限于《中华人民共和国计算机信息系统安全保护条例》、《计算机软件保护条例》、《最高人民法院关于审理涉及计算机平台络著作权纠纷案件适用法律若干问题的解释(法释[2004]1号)》、《全国人大常委会关于维护互联平台安全的决定》、《互联平台电子公告服务管理规定》、《互联平台新闻信息服务管理规定》、《互联平台著作权行政保护办法》、《信息平台络传播权保护条例》和《互联平台用户账号名称管理规定》等有关计算机互联平台规定和知识产权的法律和法规、实施办法。 4.2 用户对其自行发表、上传或传送的内容负全部责任，所有用户不得在本平台任何页面发布、转载、传送含有下列内容之一的信息，否则本平台有权自行处理并不通知用户：
                        (1)违反宪法确定的基本原则的；
                    </p>
                    <p>
                        (2)危害国家安全，泄漏国家机密，颠覆国家政权，破坏国家统一的；</p>
                    <p>
                        (3)损害国家荣誉和利益的；</p>
                    <p>
                        (4)煽动民族仇恨、民族歧视，破坏民族团结的；</p>
                    <p>
                        (5)破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
                    <p>
                        (6)散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
                    <p>
                        (7)散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；</p>
                    <p>
                        (8)侮辱或者诽谤他人，侵害他人合法权益的；</p>
                    <p>
                        (9)煽动非法集会、结社、游行、示威、聚众扰乱社会秩序的；</p>
                    <p>
                        (10)以非法民间组织名义活动的；</p>
                    <p>
                        (11)含有法律、行政法规禁止的其他内容的。</p>
                    <p>
                        4.3 用户承诺对其发表或者上传于本平台的所有信息(即属于《中华人民共和国著作权法》规定的作品，包括但不限于文字、图片、音乐、电影、表演和录音录像制品和电脑程序等)均享有完整的知识产权，或者已经得到相关权利人的合法授权；如用户违反本条规定造成本平台被第三人索赔的，用户应全额补偿本平台一切费用(包括但不限于各种赔偿费、诉讼代理费及为此支出的其它合理费用)；</p>
                    <p>
                        4.4 当第三方认为用户发表或者上传于本平台的信息侵犯其权利，并根据《信息平台络传播权保护条例》或者相关法律规定向本平台发送权利通知书时，用户同意本平台可以自行判断决定删除涉嫌侵权信息，除非用户提交书面证据材料排除侵权的可能性，本平台将不会自动恢复上述删除的信息；</p>
                    <p>
                        (1)不得为任何非法目的而使用平台络服务系统；</p>
                    <p>
                        (2)遵守所有与平台络服务有关的平台络协议、规定和程序；</p>
                    <p>
                        (3)不得利用本平台服务进行任何可能对互联平台的正常运转造成不利影响的行为；</p>
                    <p>
                        (4)不得利用本平台服务进行任何不利于本平台的行为。</p>
                    <p>
                        4.5 如用户在使用平台络服务时违反上述任何规定，本平台有权要求用户改正或直接采取一切必要的措施(包括但不限于删除用户张贴的内容、暂停或终止用户使用平台络服务的权利)以减轻用户不当行为而造成的影响。</p>
                    <p>
                        五、隐私保护</p>
                    <p>
                        5.1 本平台不对外公开或向第三方提供单个用户的注册资料及用户在使用平台络服务时存储在本平台的非公开内容，但下列情况除外：</p>
                    <p>
                        (1)事先获得用户的明确授权；</p>
                    <p>
                        (2)根据有关的法律法规要求；</p>
                    <p>
                        (3)按照相关政府主管部门的要求；</p>
                    <p>
                        (4)为维护社会公众的利益。</p>
                    <p>
                        5.2 在不透露单个用户隐私资料的前提下，本平台有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。</p>
                    <p>
                        六、版权声明</p>
                    <p>
                        6.1 用户发表并将其上传到本平台站的任何内容，本平台在全世界范围内不限形式和载体地享有永久的、不可撤销的、免费的、非独家的使用权和转授权的权利，包括但不限于修改、复制、发行、展览、改编、汇编、出版、翻译、信息平台络传播、广播、表演和再创作及著作权法等法律法规确定的其他权利。</p>
                    <p>
                        6.2 本平台对平台站所有信息内容（除特别注明信息来源或由他方输入的信息外）包括但不限于：文字表述及其组合、图标、图饰、图表、色彩、版面设计、数据等等均享有完全的著作权，并受《中华人民共和国著作权法》及相关法律法规和中国加入的所有知识产权方面的国际条约的保护。</p>
                    <p>
                        6.3 对于本平台站专有信息，未经本平台书面同意，不得以任何形式侵犯亿邦动力平台的著作权，包括但不限于：擅自复制、链接、非法使用或转载，不得以任何方式建立镜像站点。恶意转载本平台内容的，本平台保留将其诉诸法律的权利。</p>
                    <p>
                        6.4跨境眼对转载其他媒体或由他方输入的信息拥有合法使用权，未经跨境眼许可，任何他方不得擅自使用该信息。</p>
                    <p>
                        6.5 本平台享有所有作品用于其它用途的使用权和优先权，包括但不限于平台站、电子杂志、平面出版等，作者在本平台发布内容时视为同意本条款。</p>
                    <p>
                        6.6 本平台所有内容仅代表作者自己的立场和观点，与本平台无关，由作者本人承担一切法律责任。</p>
                    <p>
                        6.7 任何经本平台确认已违反了平台站使用规则的用户，跨境眼有权决定是否给予其暂停使用的处理，对屡犯者将立即给予暂停使用或终止使用的处理。</p>
                    <p>
                        七、责任声明</p>
                    <p>
                        7.1 用户明确同意其使用本平台服务所存在的风险及一切后果将完全由用户本人承担，本平台对此不承担任何责任。</p>
                    <p>
                        7.2 本平台无法保证相关服务一定能满足用户的要求。</p>
                    <p>
                        7.3 本平台不保证为方便用户而设置的外部链接的准确性和完整性，同时，对于该等外部链接指向的不由本平台实际控制的任何平台页上的内容，本平台不承担任何责任。</p>
                    <p>
                        7.4 对于因不可抗力或本平台不能控制的原因造成的平台络服务中断或其它缺陷，本平台不承担任何责任，但将尽力减少因此而给用户造成的损失和影响</p>
                    <p>
                        7.5 对于本平台向用户提供的下列产品或者服务的质量缺陷本身及其引发的任何损失，本平台无需承担任何责任：</p>
                    <p>
                        (1)本平台向用户免费提供的各项平台络服务；</p>
                    <p>
                        (2)本平台向用户赠送的任何产品或者服务；</p>
                    <p>
                        (3)本平台向收费服务用户附赠的各种产品或者服务。</p>
                    <p>
                        7.6 本平台有权于任何时间暂时或永久修改或终止本服务(或其任何部分)，而无论其通知与否，本平台对用户和任何第三人均无需承担任何责任。</p>
                    <p>
                        八、附则</p>
                    <p>
                        8.1 本协议的订立、执行和解释及争议的解决均应适用中华人民共和国法律。</p>
                    <p>
                        8.2 如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍应有效并且有约束力。</p>
                    <p>
                        8.3 本协议解释权及修订权归深圳易仓科技有限公司所有。</p>
                    <p>

                    </p>
                </div>

            </div>
        </div>

    <center>
        <button class="go_btn" style="margin:0 auto;background:#fc9d27;color:#fff;border:none;border-radius:5px;width:100px;height:40px;text-align:center;line-height:30px;font-size:16px;margin-bottom:3rem;" onclick="window.history.go(-1);">返 回</button>
    </center>

{/block}