{extend name="layout/base" /}
{block name="title"}注册{/block}
{block name="load"}

<!-- css -->
<link rel="stylesheet" href="__MCSS__/login.css?{$time}">

<!-- js -->

{/block}
<!-- 主体内容 -->
{block name="main"}

    <div class="container">
        <div class="site-login tab-box clearfix">
            <!--tab注册登录切换-->
            <ul class="nav nav-pills tc clearfix loing_ul">
                <li class="active" style="width: 100%;font-size: 16px;"><a>用户注册</a></li>
            </ul>

            <div class="tab-content clearfix">
                <div role="tabpanel" class="tab-pane" id="register" style="">
                    <!-- 注册-->
                    <form class="registerForm form" role="form" method="post">
                    <input type="hidden" id="lasturl" value="{:lastUrl()}">
                        <div class="form-group">
                            <div class="input-icon">
                                <i class="icon-phone"></i>
                                <input type="text" class="form-control  required " name="phone" id="phone" placeholder="请输入手机">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class=" input-icon">
                                <div class="input-group">
                                    <i class="icon-code"></i>
                                    <input type="text" class="form-control" name="code" placeholder="输入验证码">
                                    <span class="input-group-btn">
                            <button class="btn btn-code" id="get-code" type="button" data-item="1">获取验证码</button>
                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-icon">
                                <i class="icon-name"></i>
                                <input type="text" class="form-control" name="username" id="username" placeholder="请输入用户名,只能为英文字母和数字,6-20位">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-icon">
                                <i class="icon-psd"></i>
                                <input type="password" class="form-control" name="password" id="password" placeholder="请输入密码,最少8位">
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="checkbox pull-left">
                                <label>
                        <input type="checkbox" id="agreement" title="同意协议"> 阅读同意<a class="agreement" href="{:url('login/agreement')}">跨境眼用户使用协议</a>
                    </label>
                            </div>
                        </div>
                        <button type="button" id="sub-register" class="btn btn-block btn-submit">注册</button>
                    </form>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="__MJS__/login.js?{$time}"></script>
    </div>

{/block}
