.container {
	background: #fff;
	margin-top: 10px;
	border-bottom: solid 1px #EDEDED
}

.comment-div {
	width: 100%;
	min-height: 50px;
	overflow: hidden;
	margin-bottom: 50px
}

.crtit {
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #d2d2d2;
	position: relative
}

.crtit span {
	width: 95%;
	border-left: 4px solid #ff6500;
	height: 13px;
	display: block;
	font-size: 0.14rem;
	line-height: 13px;
	position: absolute;
	top: 7px;
	text-indent: 5px
}

.comment-div ul li {
	width: 100%;
	height: auto;
	padding: 15px 0;
	border-bottom: 1px solid #e0e0e0;
	float: left
}

.pl-list-tit {
	width: 100%;
	float: left;
	height: 37px
}

.pl-list-tit img {
	width: 37px;
	height: 37px;
	border-radius: 40px;
	overflow: hidden;
	display: block;
	float: left
}

.pl-list-wen {
	width: 60%;
	height: 30px;
	float: left;
	margin-left: 3%
}

.wen1 {
	color: #000;
	display: block;
	font-size: 0.13rem !important;
	float: left;
	height: 14px;
	width: 100%;
	margin-bottom: 5px;
	line-height: 14px !important
}

.pl-list-wen span.wen2, .xf .wen2 {
	color: #9f9f9f;
	display: block;
	float: left;
	width: 100%;
	font-size: 0.1rem;
	line-height: 15px
}

.pl-list-tit div {
	width: auto;
	height: 12px;
	float: right;
	font-size: 12px;
	margin-top: 3px
}

.infos-zan span {
	margin-right: 3px;
	line-height: 12px;
	font-size: 0.11rem;
	float: left
}

p.pl-wen {
	width: 85%;
	float: left;
	margin-left: 45px;
	font-size: 0.13rem;
	color: #000;
	line-height: 20px;
	margin-top: 5px;
	padding-bottom: 0
}

.all_article {
	padding-top: 10px
}

.title h1 {
	padding: 0 15px;
	font-size: 0.22rem;
	font-weight: normal;
	line-height: 35px
}

.title .author {
	padding: 10px 0;
	text-align: center;
	font-size: 0.14rem;
	color: #ccc
}

.title .author a {
	color: #999
}

.title .author img {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-right: 8px;
	margin-bottom: 2px
}

.nav-tabs {
	background: #fafafa;
	margin: 10px 0
}

.nav-tabs {
	width: 100%;
	font-size: 0.13rem
}

.nav-tabs>li {
	border-right: 1px solid #ddd;
	width: 33%
}

.nav-tabs>li {
	float: left;
	text-align: center;
	height: 22px;
	line-height: 22px;
	margin: 8px 0
}

.nav-tabs>li:last-child {
	border: none
}

.nav>li {
	position: relative;
	display: block
}

.article_content {
	font-size: 16px;
	padding: 0 15px;
	line-height: 180%
}

.article_content p {
	padding-top: 0px !important;
	padding-bottom: 0px !important;;
	text-align: justify !important;;
	width: 100% !important;;
	word-wrap: break-word;
	word-break: normal
}

.tag {
	padding: 15px 15px 5px
}

.tag a {
	color: #f0a08c;
	font-size: 0.14rem
}

.sharebox {
	border-top: 2px solid #8a8a8a;
	width: 90%;
	height: 75px;
	margin: 35px 15px 50px 15px
}

.sharebox ul {
	width: 100%;
	min-height: 20px;
	overflow: hidden
}

.sharebox span {
	width: 80px;
	height: 45px;
	font-size: 0.16rem;
	background: #fff;
	display: block;
	margin: 0 auto;
	margin-top: -23px;
	text-align: center;
	line-height: 45px
}

.sharebox ul li {
	width: 25%;
	float: left
}

.sharebox a {
	width: 45px;
	height: 45px;
	display: block;
	background: url(/img/m_share.jpg) no-repeat;
	background-size: 270px;
	background-position: 7px 0;
	padding-right: 0;
	margin-right: 0;
	position: relative
}

.sharebox a {
	background-position: -74px 0px
}

.sharebox a h4 {
	font-size: 0.1rem;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 12px;
	line-height: 12px;
	width: 100%;
	text-align: center;
	color: #333
}

.sharebox ul li:nth-child(2) a {
	background-position: -74px 0px
}

.sharebox ul li:nth-child(2) a, .sharebox ul li:nth-child(3) a {
	margin: 0 auto
}

.sharebox ul li:nth-child(3) a {
	background-position: -154px 0px
}

.sharebox ul li:nth-child(4) a {
	background-position: -233px 0px
}

.sharebox ul li:nth-child(4) a {
	float: right
}

.shareTips {
	position: fixed;
	top: 0px;
	left: 0px;
	display: none;
	width: 100%;
	height: 100%;
	z-index: 999999;
	background: rgba(0, 0, 0, 0.69);
	max-width: 640px;
	left: 50% !important;
	right: auto;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 100%
}

.shareTips img {
	width: 90%;
	float: none;
	margin-right: 0;
	position: absolute;
	top: 30%;
	left: 11%;
	margin-left: -0.128rem
}

.shareTips .tips_close {
	position: absolute;
	width: 68%;
	height: 0.338rem;
	line-height: 0.338rem;
	text-align: center;
	top: 54%;
	left: 16%;
	font-size: 0.16rem;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 0.03rem
}

.comment {
	padding: 0 15px
}

.comment-input {
	height: 100px;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 5px
}

.comment .sub-comment .sub-btn {
	width: 80px;
	background: #ff8d00;
	color: #fff;
	height: 34px;
	border-radius: 2px;
	float: right
}

.normal-title {
	font-size: 14px;
	font-weight: normal
}

.article-header {
	font-size: 15px;
	height: 50px;
	line-height: 50px;
	padding-left: 10px;
	background: #fafafa
}

.next-chapter {
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	padding-top: 12px;
	padding-bottom: 12px;
	margin: 10px
}

.next-chapter .next-article {
	padding-top: 10px;
	margin-bottom: 10px;
	background: #fff;
	min-height: 20px;
	overflow: hidden;
	position: relative
}

.next-chapter .next-article .alink {
	height: 75px;
	overflow: hidden;
	float: left;
	margin-bottom: 10px
}

.next-chapter .next-article a.title {
	display: block;
	font-size: 16px;
	height: 44px;
	margin-bottom: 3px;
	overflow: hidden;
	color: #222;
	width: 100%;
	font-weight: normal
}

.writer-article {
	border: 1px solid #ededed
}

.writer-article .writers {
	height: 32px;
	line-height: 32px;
	padding: 0 10px;
	border-bottom: 1px solid #ededed;
	color: #999
}

.writer-article .news {
	height: 45px;
	line-height: 45px;
	padding: 0 10px;
	font-size: 14px
}

.news .red {
	color: #f44336
}

.comment-list {
	margin: 0 10px;
	width: auto
}

.comment-list h4 {
	border-bottom: 1px solid #ededed;
	height: 40px;
	line-height: 40px
}

.pl-list-hui {
	height: 30px;
	line-height: 30px;
	text-align: right;
	padding-right: 15px
}

.comment-list ul li:last-child, .related-articles ul li:last-child {
	border-bottom: none
}

.comment-list, .related-articles {
	border-bottom: 1px solid #f0f0f0;

}
.related-articles ul.list_article{
	padding: 0 10px;
}
.space {
	background: #fafafa;
	height: 15px
}

.comment-group {
	padding: 10px;
	position: relative
}

.input-comment {
	width: 148px;
	height: 34px;
	border: 1px solid #ededed;
	padding-left: 5px
}

.comment-operation {
	height: 34px;
	line-height: 34px;
	font-size: 18px
}

.comment-operation a {
	color: #b9b9b9;
	padding-left: 25px
}

.comment-operation a:last-child {
	padding-right: 5px
}

span.foot_tips {
	position: absolute;
	font-size: 0.1rem;
	padding: 2px;
	display: block;
	border-radius: 30%;
	line-height: 10px;
	background: #f63756;
	right: 100px;
	top: 15px;
	color: #fff
}

.company-src img {
	width: 17px;
	height: 17px
}

.overseas-header {
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #f5f5f5;
	position: relative;
	margin-top: -20px
}

.overseas-header .btn-back {
	position: absolute;
	left: 10px;
	font-size: 14px
}

.overseas-header h3 {
	font-size: 16px;
	font-weight: normal
}

.overseas-main .list_article {
	border-bottom: 2px solid #f0f0f0
}

.overseas-main .list_article>li {
	border-bottom: none;
	margin-bottom: 0
}

#commentDetail {
	display: none;
	padding: 0 15px 0 10px;
	margin-top: 10px
}

#commentDetail .sub-btn {
	margin: 10px 0
}

.all-comment {
	position: fixed;
	bottom: 0;
	background: #fff;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 1000
}

.head_story {
	padding-top: 10px
}

.fl {
	float: left
}

.comment-list ul li .head_story img {
	width: 34px;
	height: 34px;
	border-radius: 34px;
	float: left
}

img {
	border: 0
}

.comment-list ul li .head_story>div>div {
	float: left;
	line-height: 34px;
	padding-left: 10px;
	color: #555
}

.head_story>.fr {
	line-height: 34px;
	color: #555
}

.fr {
	float: right
}

.Triangle {
	background: #f5f5f5;
	padding: 5px
}

.Triangle .name {
	color: #272d2d;
	padding: 5px 0 3px 0
}

.Triangle .comment_text {
	color: #555
}

.story_c {
	font-size: 0.14rem;
	padding: 5px 0px 10px;
	color: #555;
	line-height: 0.18rem
}

a {
	text-decoration: none;
	color: #666
}

.footer_story {
	padding-bottom: 10px
}

.footer_story>.fr {
	color: #555
}

.fr {
	float: right
}

.footer_story>.fr .comment {
	margin-right: 10px
}

.footer_story .comment {
	background: url(/img/forum/comment.png) no-repeat left center;
	padding-left: 20px
}

.fl {
	float: left
}

.prompt {
	width: 100%;
	border: 1px solid #f5f5f5;
	margin-top: 10px;
	text-align: center;
	line-height: 80px;
	height: 80px
}

.prompt a {
	color: #ff8d00;
	font-size: 16px
}

.prompt span {
	padding: 5px 20px;
	color: #757575;
	font-weight: normal;
	background: #f5f5f5
}

.story_c .comment_text {
	padding: 5px
}

.all_article img {
	max-width: 100% !important;
}

/**新增的文章详情页的所属专题的样式开始**/
.zhuanti_btn {
	display: inline-block;
	width: 75%;
	background: #ff8d00;
	color: #fff;
	border-radius: 4px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	border:none;
}
.included_span{
	font-size: 18px;font-weight: bold;display: inline-block;margin-bottom: 5px;
}
.included_div{
	border:1px solid #ddd;width:100%;height:100px;margin-top:15px;
}
.included_img{
	width: 30%;border:0px solid;height: 100%;float: left;padding: 1px;
}
.included_desc_div{
	width: 44%;border:0px solid;height: 100%;float: left;
}
.included_title_div{
	width: 100%;height:35%;border:0px solid;font-size: 18px;line-height: 50px;padding-left: 7px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.included_desc{
	width: 100%;height:65%;border:0px solid;padding: 7px;
}
.included_btn_div{
	width: 23%;border:0px solid;height: 100%;float: left;line-height: 93px;text-align: center;
}
.article-after{
	margin-top:5%;
}

@media screen  and (max-width: 320px) {
	.included_desc {
		width: 100%;
		height: 65%;
		border: 0px solid;
		padding: 7px;
		font-size: 10px;
	}
	.included_title_div {
		width: 100%;
		height: 35%;
		border: 0px solid;
		font-size: 17px;
		line-height: 50px;
		padding-left: 7px;
	}
	.included_btn_div {
		width: 24%;
		border: 0px solid;
		height: 100%;
		float: left;
		line-height: 93px;
		text-align: center;
	}
}
/**新增的文章详情页的所属专题的样式结束**/
.crumbs {
	font-size: 14px;
	margin-bottom: 0;
	padding: 10px 5px;

}

ol, ul, li {
	list-style-type: none;
}
.crumbs>li {
	display: inline-block;
}
.last_li{
	width: 70%;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}