@CHARSET "UTF-8";

.changeForm {
	background: #fff;
	font-size: 0.16rem;
	padding: 20px;
	min-height: 250px;
}

.changeForm div {
	margin-bottom: 10px
}

.changeForm .form-control {
	display: block;
	width: 90%;
	height: 18px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.changeForm .btn-code {
	width: 39%;
	background: #ff8d00;
	color: #fff;
	height: 37px;
	padding: 6px 5px;
	border-radius: 4px;
	font-size: 0.14rem
}

.changeForm .btn-sub {
	margin-top: 20px;
	width: 100%;
	background: #ff8d00;
	color: #fff;
	height: 34px;
	padding: 6px 18px;
	border-radius: 4px;
	font-size: 0.16rem
}