.site-index {
	position: relative;
	z-index: 260;
}

.banner-div img {
	width: 100%;
	height: 200px;
}

.find-search {
	height: 30px;
	padding: 10px;
	background: #fff;
}

.find-search .form-group {
	position: relative;
	width: 97%;
	float: left;
}

.find-search input.input-text {
	outline: none;
	font-size: 0.12rem;
	height: 28px;
	border: 1px solid #ff8d00;
	width: 97%;
	padding-left: 5px;
}

.find-search .btn-find {
	background: #ff8d00;
	color: #fff;
	text-align: center;
	width: 30%;
	height: 30px;
	line-height: 29px;
	position: absolute;
	top: 0;
	right: 0;
}

.find-search .submit_btn {
	height: 30px;
	padding-left: 2%;
	width: 22%;
	float: left;
}

.find-search .btn-issue {
	height: 30px;
	width: 100%;
	background: transparent;
	color: #ff8d00;
	border: 1px solid #ff8d00;
}

.find-lists .find-select {
	background: #fff;
	width: 100%;
	z-index: 260;
	font-size: 14px;
}

.find-lists .select-items {
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #f3f3f3;
	padding: 10px 0;
}

.find-lists .select-items li {
	float: left;
	width: 25%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-bottom: 5px;
}

.find-lists .select-items li a.a-box {
	display: inline-block;
	/* padding: 0 10px; */
	height: 30px;
	line-height: 30px;
	background: #f3f3f3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-sizing: border-box;
	width: 85%;
}

.cart {
	margin-left: .05rem;
}

.cart:before {
	content: "\f0d7";
	font-family: icomoon;
	color: #bfbfbf;
}

.find-lists .select-items li a.btn-check {
	background: #f0f2f5;
	border: 1px solid #f0f2f5;
	color: #000;
	position: relative;
	padding: 5px 30px 5px 13px;
	text-align: left;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-sizing: border-box;
}

.find-lists .find-select .dropdown-box {
	display: none;
}

.find-lists .find-select .dropdown-items {
	overflow-y: auto;
	width: 100%;
}

.find-lists .find-select .dropdown-sub {
	padding: 0 0.12rem;
	overflow: auto;
	overflow-x: hidden;
}

.find-lists .find-select .dropdown-sub li {
	position: relative;
	width: 50%;
	margin-top: .07rem;
	background-color: #fff;
	text-align: left;
	overflow: hidden;
	color: #29292d;
	float: left;
}

.dropdown-sub li.cur div.menu-text {
	color: rgba(0,137,255,1);
	border-bottom: 1px solid rgba(0,137,255,1);
}

.dropdown-sub li div.menu-text {
	height: 2em;
	line-height: 2;
	border-bottom: 1px solid transparent;
	margin: 0 .06rem;
}

.cur .icon-checkmark {
	position: absolute;
	/* display: none; */
	top: 3px;
	right: .07rem;
	border-bottom: 2px solid transparent;
	line-height: 2;
	color: rgba(0,137,255,1);
}

.cur .icon-checkmark:before {
	content: "\e904";
	font-family: icomoon;
}

.find-lists .find-select .dropdown-btn {
	width: 100%;
	float: right;
	text-align: center;
	background: rgba(0,137,255,1);
	height: 38px;
	line-height: 38px;
}

.find-lists .find-select .dropdown-btn a {
	color: #fff;
}

.find-lists .select-items li.cur a.btn-check {
	background: transparent;
	border: 1px solid #f2982d;
	color: #f2982d;
	border: 1px solid #f2982d;
}

.find-lists .select-items li a.btn-check {
	background: #f0f2f5;
	border: 1px solid #f0f2f5;
	color: #000;
	position: relative;
	padding: 5px 30px 5px 13px;
	text-align: left;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-sizing: border-box;
}

@font-face {
	font-family: icomoon;
	src:
		url(//static.360buyimg.com/mr/fh/2017-09-15/fonts/icomoon.07ff2e1b.eot?b2hz80);
	src:
		url(//static.360buyimg.com/mr/fh/2017-09-15/fonts/icomoon.07ff2e1b.eot?b2hz80#iefix)
		format('embedded-opentype'),
		url(//static.360buyimg.com/mr/fh/2017-09-15/fonts/icomoon.f446a4ef.ttf?b2hz80)
		format('truetype'),
		url(//static.360buyimg.com/mr/fh/2017-09-15/fonts/icomoon.02a2b066.woff?b2hz80)
		format('woff'),
		url(//static.360buyimg.com/mr/fh/2017-09-15/fonts/icomoon.78a2d9f9.svg?b2hz80#icomoon)
		format('svg');
	font-weight: 400;
	font-style: normal
}

.header-sort {
	border-bottom: #ddd 1px solid;
	height: 30px;
	font-size: 14px;
	background: #fff;
	padding-top: 10px;
}

.header-sort dt, .header-sort dd {
	float: left;
	height: 24px;
	line-height: 24px;
	width: 80px;
	text-align: center;
}

.header-sort dd {
	text-align: left;
}

.header-sort .selected a {
	color: #fff;
	background-color: #f60;
}

.header-sort a {
	white-space: nowrap;
	height: 24px;
	padding: 3px 10px;
	text-decoration: none;
	color: #039;
	border-radius: 2px;
}

.activity-item {
	border-bottom: 1px solid #e5e5e5;
	background: #fff;
	padding: 10px;
	z-index: 10;
	min-height: 3.16rem;
}

.activity-item .activity-box {
	width: 49%;
	min-height: 218px;
}
.activity-item .item-img{
	position: relative;
}
.activity-item .item-img img {
	width: 100%;
	height: 100px;
}

.activity-item .img-box .item-text {
	background:rgba(255,255,255,1);
	border-radius:4px;
	border:1px solid rgba(238,238,238,1);
	padding: 10px 5px 0px 5px;
	margin-bottom: 10px;

}

.activity-item .item-text h4 {
	font-size: 14px;
	color: #2d2727;
	overflow: hidden;
	text-overflow: ellipsis;
	height:30px;
	word-break: break-all;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	white-space: normal;
}

.activity-item .item-text p {
	padding: 10px 0;
	color: rgba(51, 51, 51, 1);
	font-size: 14px;
}

.activity-item .item-text p i {
	width: 10px;
	text-align: center;
}

.activity-local {
	width: 50%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
	vertical-align: bottom;
}
.activity-original-price{
	text-decoration: line-through;
	color: #999;
}
.activity-item p .pull-right {
	color: red;
}

.search_emptyTxt {
	margin: 10px 0;
	height: 64px;
	background: #f8f8f8;
	font-size: 18px;
	color: #000;
	line-height: 64px;
	text-align: center;
}

.search_emptyListTxt {
	font-size: 16px;
	color: #000;
	text-align: left;
	padding-left: 10px;
}

.cover-pannel {
	display: none;
}

.cover-floor {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	/*background: rgba(0, 0, 0, 0.7);*/
	/*z-index: 250;*/
}

.activity-time {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.laypage {
	text-align: center;
	padding-right: 10px;
	margin-top: 15px;
}
.select_course_div{
	/* width:100%;
	height:44px; */
	/* background:rgba(255,255,255,1); */
	overflow: auto;
	height: auto;
	margin-bottom: 47px;
}
.select_course_ul{
	/* width: 120%;
	height: 100%; */
	width: 100%;
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #ddd;
    color: #555;
	list-style-type: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
    overflow: auto;
    position: fixed;
    background: #fff;
    z-index: 999;
    top: 50px;
}
.select_course_ul li{
	/*width: 25%;*/
	/* height: 100%;
	float: left;
	list-style: none;
	text-align: center;
	line-height: 44px;
	font-size:16px;
	color:rgba(51,51,51,1);
	margin-left: 20px; */
	width: auto;
    font-size: 14px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    padding: 0 5px;
    color: #333;
}
.select_course_ul li.active{

	font-weight:bold;
	color:rgba(0,137,255,1);
    border-bottom:rgba(0,137,255,1) 1px solid ;

}
.course-end-sign{
	position: absolute;
	font-size: 10px;
	padding: 0px 5px;
	left: 0;
	top: 10px;
	background:rgba(0,137,255,0.8);
	color: #fff;
	border-radius:0px 10px 10px 0px;
}
.course-sign-2{
	background:rgba(153,153,153,0.8);
}
.no-data{
	width: 100%;
	text-align: center;
	font-weight: bold;
	padding: 150px 0;
}