.banner-swiper{
    background: #ffffff;
}
.banner-swiper .swiper-container {
    width: 95%;
    height: 100%;
}
.swiper-pagination-bullet{
    opacity:1;
}
.swiper-pagination-bullet-active{
    width: 24px;
    border-radius: 8px;
}
.banner-swiper .swiper-slide {
    background-position: center;
    background-size: 100%;
}

.banner-swiper .swiper-slide img {
    width: 100%;
    height: 200px;
    margin: auto;
    border-radius: 4px;
}

.banners, .find-warehouse, .new-article, .new-activity, .hot-person {
    background: #fff;
    /* margin-bottom: 0.1rem; */
    padding: 0.1rem;
    padding-top: 0;
}

.banner-item .items {
    float: left;
    text-align: center;
    margin-top: 0.2rem;
    width: 25%;
}

.banner-item .items a img {
    margin-bottom: 0.1rem;
    width: 0.43rem;
}

.home-main .navbar {
    min-height: 0.3rem;
    line-height: 0.3rem;
    margin-bottom: 0.15rem;
}

.home-main .navbar h4 {
    font-weight: normal;
    font-size: 0.16rem;
    color: #2d2727;
}

.home-main .navbar h4:before {
    content: '';
    border-left: 0.03rem solid #ff8400;
    font-size: 1px;
    padding-right: 0.05rem;
}

.home-main .navbar h4 a {
    padding-left: 0.2rem;
    color: #555;
}

.home-main .find-item h5 {
    color: #999;
    font-size: 0.12rem;
    font-weight: normal;
}

.home-main .find-item .table {
    width: 100%;
}

.home-main .find-item .table tr {
    height: 0.35rem;
}

.home-main .find-item .table tr td {
    vertical-align: middle;
    text-align: center;
    border: none;
    width: 25%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.home-main .find-item td a img {
    width: 30%;
    margin-right: 0.05rem;
}

.home-main .find-item td a span {
    display: inline-block;
    width: 60%;
    text-align: left;
}

.home-main .find-item td a div {
    width: 100%;
}
#home-nav{
    height: 3em;
    background: #ffffff;
    overflow-x: auto;
    white-space:nowrap;
}
#home-nav .home-nav-ul{
    background: #ffffff;
    height: 2.5em;
    border-bottom: 0.01em solid #D8D8D8;
    width: 120%;
    white-space:nowrap;
}
#home-nav .home-nav-ul li{
    float: left;
    /*width: 12%;*/
    height: 100%;
    text-align: center;
	margin-left:13px;
}
#home-nav .home-nav-ul li a{
    color: #555555;
    font-size: 1.25em;
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;

}
#home-item{
    padding: 1.2em 0;
    margin-bottom: 0.7em;
    height: 5em;
    background: #ffffff;
}
#home-item .home-item-ul li{
    float: left;
    width: 20%;
    text-align: center
}

#home-item .home-item-ul li a{
    width: 100%;
    height: 100%;
    color: #555555;
    display: block;
}
#home-item .home-item-ul li a img{
    width: 3.1em;
    margin-bottom: 0.5em;
}
#home-item .home-item-ul li a svg{
    font-size: 3.1em;
    margin-bottom: 0.2em;
}
.select-div{
    position: absolute;
    top:4em;
    left: 0;
    background: #ffffff;
    text-align: left;
    padding: 0.35em;
    border: #A8A8A8 solid 0.1em;
    display: none;
    width: 95% !important;
    z-index: 1;
}
.select-div p{
    border: 0.1em solid #eeeeee;
    height: 1.8em;
    line-height: 1.8em;
}
/**下拉框**/
.select-div ul{
    overflow-y:scroll;
    padding: 0.5em;
    height: 7em;
}
.select-div ul li{
    border-bottom: 0.1em solid #eeeeee;
    height: 1.5em;
    line-height: 1.5em;

}
.select-div ul li img{
    margin-right: 0.4em;

}
.select-div ul li span{

    float: right;
    height: 1.4em;
    width: 1.4em;


}
#name-country-a{
    position: relative;
}
#name-service-a{
    position: relative;
}
#name-city-a{
    position: relative;
}
#name-city-line-a{
    position: relative;
}
/** 第五部分找海外仓与专线**/
#home-warehouse-line{

    width: 100%;
    height: 16em;
    background: #ffffff;
    margin: 0.45em 0;
    padding-bottom: 0.95em;
}
#home-warehouse-line div{

    width: 100%;
    margin: auto;

}
#home-warehouse-line .home-warehouse-line-top{
    padding-top: 0.15em;
    height: 2.5em;
    width: 100%;
    border-bottom:solid 0.07em #EEEEEE;
}
#home-warehouse-line .home-warehouse-line-top .home-warehouse-line-title{
    height: 100%;
    width: 80%;
}
#home-warehouse-line .home-warehouse-line-title a{
    float:left;
    height: 100%;
    width: 50%;
    color: #555555;
    font-size: 1.25em;

}
#home-warehouse-line .home-warehouse-line-title a span{
    display: block;
    height: 100%;
    line-height:2em;
    width: 7em;
}
#home-warehouse-line .home-warehouse-line-title a span .icon{
    float:left;
    width: 2.5em;
    height: 2.5em;


}
#home-warehouse-line .home-warehouse-line-title a span .icon{
    float:left;
    width: 2em;
    height: 2em;
}
#home-warehouse-line .home-warehouse-line-content{
    font-size: 1.25em;
    line-height: 36px;
    width: 80%;
}
#home-warehouse-line .home-warehouse-line-content .home-warehouse-content-div{
    display: none;
}
#home-warehouse-line .home-warehouse-line-content .home-warehouse-content-div p{
    border-bottom: solid 0.05em #eeeeee;
}
#home-warehouse-line .home-warehouse-line-content .home-warehouse-content-div p span .icon{
    height: 1em;
    width: 1em;
}
#home-warehouse-line .home-warehouse-line-content .home-warehouse-content-div p .select{
    float: right;

}
#home-warehouse-line .home-warehouse-line-title .warehouse-line-default span{
    color: #FC9D27;
    border-bottom: solid #FC9D27 0.1em;
}
#home-warehouse-line .home-warehouse-line-content .home-warehouse-content-div a{
    padding-top: 1.5em;
}
#home-warehouse-line .home-warehouse-line-content .home-warehouse-content-div a span{
    display: inline-block;
    color: #757575;
}

.home-warehouse-content-div a .name-country-span1{
    /*width: 50%;*/
}
.home-warehouse-content-div a .name-country-span1 img{
    margin-right:0.4em;
}
.home-warehouse-content-div a .name-country-span2{
    margin-right: 1em;
}
.home-warehouse-content-div a .name-country-span-right{
    float: right;
}
.home-warehouse-content-div a .name-country-span2 img{
    display: inline-block;
    margin-right: 0.5em;
}
.home-warehouse-sub-div{
    padding: 1.45em 0;
    width:100%;
    height: 2.75em;
}
.home-warehouse-sub-div .home-warehouse-sub-p{

    border-radius: 2em 2em 2em 2em;
    height: 2.75em;
    line-height: 2.75em;
    background: #FC9D27;
    text-align: center;
    color: #ffffff;
    margin: auto;
    width:80%;
    letter-spacing:0.03em;

}
#home-warehouse-line .home-warehouse-line-content .content-div-default{
    padding: 0;
    margin: 0;
    display: block;
    width:100%;


}
#home-warehouse-line .home-warehouse-line-content .content-div-default a{
    height: 2.2em;
    width: 100%;
    display: block;
    border-bottom: solid 0.01em #EEEEEE;
}
.new-article .navbar {
    width: 100%;
    height: 3.2em;
    overflow-x:scroll;
    border-bottom: 0.05em solid #EEEEEE;
    line-height: 44px;
    /* position: fixed;
    top: 50px;
    background: #fff;
    z-index: 999; */
}
.new-article-fixed{
    position: fixed;
    top: 50px;
    background: #fff;
    z-index: 999;
}
.new-article .home-news-title{
    font-weight:bold;
    color:rgba(40,40,40,1);
    line-height:34px;
    font-size: 18px;
    padding-left: 10px;
}
.new-article .navbar .navbar-title-ul{
    width: 50em;
    height: 2.2em;
    font-size: 1.25em;

}
.new-article .navbar .navbar-title-ul li{
    /*width: 20%;*/
    float: left;
    margin-right: 0.7em;
}

.new-article .navbar .navbar-title-ul li a{
    display: inline-block;
    width: 100%;
    height: 100%;

}
.new-article .navbar .navbar-title-ul li .navbar-title-li-a-default{
    color: #FC9D27;
    border-bottom: 0.01em solid #FC9D27;

}
#index_more{
    width: 50%;
    margin: auto;
    color: #999999;
    /* border: 0.04em solid #eeeeee !important; */
    /* background: #F7F7F7; */
}