.layer_div{
    border-bottom: 1px solid #e1e1e1;
	text-align: center;
}
.askFormItem{
    display: flex;
    display: -webkit-flex;
    margin-bottom: 10px;
    position: relative;
}
.askFormItem .form-control{
    border: 1px solid #e1e1e1;
    box-shadow: none !important;
    -webkit-box-shadow:none !important;
}
.askForm-span{
    display: block;
    text-align: right;
    height: 34px;;
    line-height: 34px;
    color: #282828;
}
.phoneCode{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    position: relative;
}
.phoneCode-input{
   flex:1;
   border:none;
}
.phoneCode-btn{
    display: block;
    color: #FF9500;
    text-align: center;
    cursor: pointer;
}
.define-select{
    width: 50%;
    background: #fff;
    border:1px solid #e1e1e1;
    border-radius: 4px;
    position: relative;
}
/* .select-left{
    position: relative;
}
.select-right{
    flex: 3;
    padding-right: 10px;
    position: relative;
} */
.ec-select{
    height: 34px;
}
/* .select-online{
    width: 20px;
    margin-right: 10px;
    margin-top:7px;
    border-right: 1px solid #e1e1e1;
} */
.ec-input{
    width: 100%;
    padding-left: 6px;
    position: relative;
}
.ec-input .ec-input__value{
    border: none;
    outline: none;
    width: 90%;
    cursor: pointer;
}
.caret{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.ec-input .caret {
    position: absolute;
    top: 50%;
    right: 17px;
    margin-top: -2px;
    vertical-align: middle;
    }
.ec-input__open .caret{
    transform: rotate(180deg);
}
.dropdown-menus{
    position: absolute;
    top:32px;
    left:0;
    max-height: 180px;
    width: 100%;
    display: none;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    overflow-y: scroll;
    overflow: auto;
    min-height: 42px;
    z-index: 1000;
    background: #ffff;
}
.dropdown-menu__con{
    padding:6px 0;
    margin:0;
    list-style: none;
 }
.menu-item{
    height: 30px;
    cursor: pointer;
    line-height: 30px;
    padding-left: 10px;
}
.menu-item:hover{
    outline: 0;
    color:#FF9500;
    background: rgba(255, 149, 0, 0.1);
}
.select-ok{
    position: absolute;
    display: inline-block;
    right: 15px;
    margin-top: 8px;
}
.ec-active .select-ok{
    width: 14px;
    height: 6px;
    display: inline-block;
    border: 1px solid #FF9500;
    border-width: 0 0 2px 2px;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    vertical-align: baseline;
}
 .no-result{
    padding: 8px;
}
.askForm-textarea{
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.wordsLength{
    position:absolute;
    right:5px;
    bottom:8px;
    font-size:14px;
    color: #646464;
}
.askForm-checkbox {
    position: relative;
    height: 30px;
    margin-left: -10px;
}
.askForm-checkbox input[type='checkbox'] {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    opacity: 0;
}
.askForm-checkbox label {
    position: absolute;
    left: 30px;
    top: 0;
    height: 20px;
    line-height: 20px;
    width: 300px;
    display: block;
    padding: 0;
    margin: 0;
    font-weight: 600;
    max-width: initial;
}
.askForm-checkbox label:before {
    content: '';
    position: absolute;
    left: -30px;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #FF9500;
    border-radius: 5px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.askForm-checkbox label:after {
    content: '';
    position: absolute;
    left: -22px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.askForm-checkbox input[type='checkbox']:checked + label:before {
    background: #FF9500;
    border-color: #FF9500;
}
.askForm-checkbox input[type='checkbox']:checked + label:after {
    background: #FF9500;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.lastItem{
    margin-bottom: 0;
    height:20px
}
.layui-layer-btn .layui-layer-btn0 {
    border-color: #ff8d00;
    background-color: #ff8400;
}
/* #other-country{
    display: none;
} */
.askForm .form-control{
    margin-bottom: 0 !important;
    box-shadow: none !important;
    -webkit-box-shadow:none !important;
}
.select-con{
    display: flex;
    display: -webkit-flex;
}
/* .define-area{
    display: flex;
    display: -webkit-flex;
 } */
@media (max-width: 768px){
    .askForm-span{
        width: 68px;
        margin-right:6px;
    }
    .layer_div .askForm .form-control{
        flex:1;
        padding-left: 6px !important;
    }
    .dropdown-menu__con{
        background: #fff;
    }
    .askForm-checkbox{
        margin-left: -68px;
    }
    .phoneCode{
        display: flex !important;
        display: -webkit-flex !important;
        width: 100%;
    }
    .phoneCode-input{
        width: 60%;
    }
    .phoneCode-btn{
        width: 40%;
    }
    /* .select-left{
        flex:2.5;
    } */
    /* .select-online{
      height: 13px;
      width: 10px;
      margin-right: 5px;
    } */
    .select-con{
        flex:1;
    }
    .define-select{
        height: 27px;
    }
    .ec-input{
        height: 27px;
        line-height: 27px;
    }
    .askForm-textarea{
        flex:1;
        outline: none;
    }
    .layer_div label{
        padding: 2px 5px 0 0 !important;
    }
}
@media (min-width: 768px){
   .askForm-span{
    width: 82px;
    margin-right:12px;
   }
   .phoneCode-btn{
      width: 130px;
   }
   .select-con{
      width: 100%;
    }
   .define-select{
      height: 34px;
    }
    /* .select-left{
        flex:2;
    } */
    /* .select-online{
        height: 20px;
        width: 20px;
        margin-right: 10px;
      } */
   .ec-input{
    height: 32px;
    line-height: 32px;
   }
}

/* 我要反馈的css */
.feedback-layer{
    /* width: 500px;*/
    max-height: 600px;
    padding:20px;
    overflow-y: auto;
  }
.feedback-layer::-webkit-scrollbar{
	width:4px;
	height:4px;
}
.feedback-layer::-webkit-scrollbar-track{
	background: rgb(239, 239, 239);
	border-radius:2px;
}
.feedback-layer::-webkit-scrollbar-thumb{
	background: #bfbfbf;
	border-radius:10px;
}
  .fb-title{
      height: 15px;
      font-size: 16px;
      font-weight: 400;
      color: #333;
      line-height: 26px;
  }
  .fb-quesions{
      margin-top: 20px;
  }
  .fb-quesions .quesion-navs{
      height: 36px;
      line-height: 36px;
      list-style: none;
      padding: 0;
      margin: 0;
      border-bottom: 1px solid #ECECEC;
  }
  .fb-quesions .quesion-navs .quesion-nav{
      float: left;
      margin-right: 30px;
      font-size: 14px;
      text-align: left;
      cursor: pointer;
  }
  .nav-active{
      font-weight: bold;
      border-bottom: 1px solid #FC9D27;
      box-sizing: border-box;
      position: relative;
  }
  .nav-active::after{
      content: '';
      position: absolute;
      bottom: -6px;
      left: 50%;
      width: 0;
      transform: translateX(-3px);
      height: 0;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      border-top: 6px solid #FC9D27;
  }
  .quesions-content{
      margin:12px 0;
  }
  .nav-content{
      display: none;
  }
  .nav-content_1{
      display: block;
  }
 .question-item{
     display: inline-block;
 }
 .question-label{
      min-width: 68px;
      background: #F6F7F9;
      border-radius: 2px;
      padding:6px 10px;
      display: block;
      text-align: center;
      cursor: pointer;
      font-size: 14px;
      color:#333;
      margin-right: 10px;
      margin-bottom: 9px;
      position: relative;
      box-sizing: border-box;
 }
 .question-chk:checked + label {
    border: 1px solid #FC9D27;
 }
 .question-chk:checked + label:before{
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-left: 7px solid transparent;
      border-right: 7px solid #FC9D27;
      border-bottom: 7px solid #FC9D27;
      bottom: 0;
      right: 0;
 }
 .question-chk:checked + label:after {
      content: '\2714';
      position: absolute;
      bottom: -3px;
      right: 0px;
      color: #fff;
      width: 100%;
      font-size: 12px;
      padding: 1px 0 0 0;
      text-align: right;
  }
  .yw-title{
      border: 1px solid #D9D9D9;
      border-radius: 4px;
      display: inline-block;
      cursor: pointer;
      list-style: none;
      padding: 0;
      margin: 0;
  }
  .yw-item{
     padding: 5px 16px;
     font-size: 14px;
     cursor: pointer;
     box-sizing: border-box;
     display: inline-block;
  }
  .yw-label{
      margin:0;
  }
  .yw-content{
      margin-top:9px;
  }
  .yw-active{
      background: #FC9D27;
      color:#fff;
  }
  .yw-item label{
      pointer-events: none;
  }
  .form-item{
      margin-bottom: 9px;
      position: relative;
  }
  .form-label{
      font-size: 16px;
      font-weight: 400;
      color: #333;
      margin-bottom: 10px;
  }
  .form-textarea, .form-input, .code-btn{
      border: 1px solid #ECECEC;
      border-radius: 2px;
      box-sizing: border-box;
  }
  .form-textarea{
      width: 100%;
      padding: 12px 12px;
      outline-color: #FC9D27;
  }
  .wordsLength{
    position: absolute;
    right: 8px;
    bottom: 9px;
    color:#808080;
    font-size: 14px;
  }
  .form-input{
      width: 100%;
      height: 40px;
      outline-color: #FC9D27;
      padding-left: 12px;
      padding-right: 12px;
  }
  .form-item_code{
      display: flex;
      display: -webkit-flex;
  }
  .code-btn{
      margin-left: 9px;
      width: 150px;
      text-align: center;
      font-size: 14px;
      color: #FC9D27;
      padding-top: 10px;
      cursor: pointer;
  }