.header .nav-header {
	background: #ff8d00 url(/img/logo-m.png) no-repeat center center;
	background-size: 33%;
	width: 100%;
	font-size: 0.16rem;
	height: 50px;
	line-height: 50px;
}

.header .nav-header>li:first-child {
	padding-left: 10px;
}

.header .nav-header>li:last-child {
	padding-right: 10px;
}

.dropdown-menu {
	width: 100%;
	position: absolute;
	top: 50px;
	right: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 75px;
	font-size: 0.14rem;
	text-align: center;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu>li {
	height: 45px;
}

.dropdown-menu>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 45px;
	color: #333;
	white-space: nowrap;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	color: #262626;
	text-decoration: none;
	background-color: #f5f5f5;
}

.find-oversea .media-top {
	width: 100%;
	height: 91px;
	padding: 10px 0;
	text-align: center;
}
.find-oversea .media-top img{
	height: 100%;
	width: auto;
}
.find-oversea .list-detail .media-body p span.title {
	font-weight:500;
	color:rgba(153,153,153,1);
}
.find-oversea .list-detail .media-body a{
	font-weight:500;
	color:rgba(40,40,40,1);
}
.find-oversea .list-detail .media-body p span.data {
	font-weight:500;
	color:rgba(40,40,40,1);
}
.find-oversea .list-detail .media-body p.service-p-box span.data{
	border-radius:2px;
	opacity:0.19;
	padding: 0px 5px;
	border:1px solid rgba(151,151,151,1);
}
.look-warehouse-border-box {
	position: relative;
	border-bottom: 1px dashed #E7E7E7;
}

.look-warehouse-border-box::before {
	content: " ";
	width: 18px;
	height: 18px;
	background: #E7E7E7;
	border-radius: 50%;
	position: absolute;
	left: -9px;
	top: -9px;
}

.look-warehouse-border-box::after {
	content: " ";
	width: 18px;
	height: 18px;
	background: #E7E7E7;
	border-radius: 50%;
	position: absolute;
	right: -9px;
	top: -9px;
}

li.new-look-warehouse h4.media-heading a{
	font-weight:bold;
	color:rgba(40,40,40,1) !important;
	font-size: 16px;
}
/* .footer {
	padding: 20px 0 30px;
	font-size: 0.12rem;
	color: #555;
} */

.footer a {
	color: #555;
}
/* .footer .nav-footer {
	padding-bottom: 12px;
} */

.header .nav-header i.fa {
	color: #fff;
	font-size: 24px;
}

.header .nav-header .nav-div {
	text-align: center;
	height: 50px;
}

.list-detail .logo {
	height: 160px;
}

.list-detail {
	margin-bottom: 10px;
}
/* 新增样式 */
.find-lists .find-select {
	background: #fff;
	/* margin-bottom: 10px; */
	/* position: fixed; */
	width: 100%;
	z-index: 260;
}

.find-lists .select-items {
	/* margin: 10px 0; */
	padding:5px 0 10px 0;
}

.find-lists .select-items li {
	float: left;
	width: 33%;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.find-lists .select-border {
	border-bottom: 1px solid #f3f3f3;
}

.find-lists .select-items li .outside-box {
	display: none;
	display: inline-block;
	border-bottom-color: transparent;
	height: 34px;
	width: 90%;
	background: #fff;
	color: #555;
	line-height: 28px;
}

.find-lists .select-items li a.a-box {
	display: inline-block;
	/* padding: 0 10px; */
	height: 30px;
	line-height: 30px;
	background: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-sizing: border-box;
	width: 85%;
}

.a-sytle {
	background: transparent;
}

.find-lists .select-items li a.btn-check {
	background: #f0f2f5;
	border: 1px solid #f0f2f5;
	color: #000;
	position: relative;
	padding: 5px 30px 5px 13px;
	text-align: left;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-sizing: border-box;
}

.find-lists .select-items li.cur a.btn-check {
	background: transparent;
	color: #f2982d;
}

.find-lists .find-select .dropdown-box {
	display: none;
}

.find-lists .find-select .dropdown-items {
	overflow-y: auto;
	width: 100%;
}

.find-lists .find-select .dropdown-sub {
	padding: 0 0.12rem;
	height: 212px;
	overflow: auto;
	overflow-x: hidden;
}

.find-lists .find-select .dropdown-sub li {
	position: relative;
	margin-top: .07rem;
	background-color: #fff;
	text-align: left;
	overflow: hidden;
	color: #29292d;
	float: left;
}

.find-lists .find-select .dropdown-sub li:nth-child(event) {
	float: right;
}

.find-lists .find-select .dropdown-btn {
	width: 100%;
	float: right;
	text-align: center;
	background: #f2982d;
	height: 38px;
	line-height: 38px;
}

.find-lists .find-select .dropdown-btn a {
	color: #fff;
}

.dropdown-sub li div.menu-text {
	height: 2em;
	line-height: 2;
	border-bottom: 1px solid transparent;
	margin: 0 .06rem;
}

.dropdown-sub li.cur div.menu-text {
	border-bottom: 1px solid #f2982d;
}

.cur .icon-checkmark {
	position: absolute;
	top: 3px;
	right: .07rem;
	border-bottom: 2px solid transparent;
	line-height: 2;
}

@font-face {
	font-family: icomoon;
	src:
		url(//static.360buyimg.com/mr/fh/2017-09-15/fonts/icomoon.07ff2e1b.eot?b2hz80);
	src:
		url(//static.360buyimg.com/mr/fh/2017-09-15/fonts/icomoon.07ff2e1b.eot?b2hz80#iefix)
		format('embedded-opentype'),
		url(//static.360buyimg.com/mr/fh/2017-09-15/fonts/icomoon.f446a4ef.ttf?b2hz80)
		format('truetype'),
		url(//static.360buyimg.com/mr/fh/2017-09-15/fonts/icomoon.02a2b066.woff?b2hz80)
		format('woff'),
		url(//static.360buyimg.com/mr/fh/2017-09-15/fonts/icomoon.78a2d9f9.svg?b2hz80#icomoon)
		format('svg');
	font-weight: 400;
	font-style: normal
}

.cur .icon-checkmark:before {
	content: "\e904";
	font-family: icomoon;
}

.cart:before {
	content: "\f0d7";
	font-family: icomoon;
	color: #bfbfbf;
}

.cart {
	margin-left: .05rem;
}

@media screen and (max-device-width: 320px) {
	.find-lists .select-items li a.a-box {
		/* padding: 0 5px; */

	}
	.cart {
		margin-left: .02rem;
	}
}

@font-face {
	font-family: icomoon;
	src:
		url(//static.360buyimg.com/mr/fh/2017-09-15/fonts/icomoon.07ff2e1b.eot?b2hz80);
	src:
		url(//static.360buyimg.com/mr/fh/2017-09-15/fonts/icomoon.07ff2e1b.eot?b2hz80#iefix)
		format('embedded-opentype'),
		url(//static.360buyimg.com/mr/fh/2017-09-15/fonts/icomoon.f446a4ef.ttf?b2hz80)
		format('truetype'),
		url(//static.360buyimg.com/mr/fh/2017-09-15/fonts/icomoon.02a2b066.woff?b2hz80)
		format('woff'),
		url(//static.360buyimg.com/mr/fh/2017-09-15/fonts/icomoon.78a2d9f9.svg?b2hz80#icomoon)
		format('svg');
	font-weight: 400;
	font-style: normal
}

.cur .icon-checkmark:before {
	content: "\e904";
	font-family: icomoon;
}

.cart:before {
	content: "\f0d7";
	font-family: icomoon;
	color: #bfbfbf;
}

@media screen and (max-device-width: 320px) {
	.find-lists .select-items li a .a-box {
		padding: 0 5px;
	}
	.cart {
		margin-left: .02rem;
	}
}
/* 遮罩层 */
.header {
	/*position: relative;*/
	z-index: 270;
}

.top-pannel {

	position: relative;
	z-index: 260;
}

.top-pannel .find-lists {
	margin-top: 0 !important;
	position: fixed;
	width: 100%;
	top:3.8em;
	z-index: 999;
}

.cover-pannel {
	display: none;
}

.cover-floor {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 250;
}

.header-sort {
	border-bottom: #ddd 1px solid;
	height: 30px;
}

.header-sort dt, .header-sort dd {
	float: left;
	height: 24px;
	line-height: 24px;
}

.header-sort .selected a {
	color: #fff;
}

.header-sort a {
	white-space: nowrap;
	height: 24px;
	padding: 3px 10px;
	text-decoration: none;
	border-radius: 2px;
}

.info i {
	width: 14px;
	text-align: center;
}

.color-red {
	color: red !important;
}

.color-main {
	color: #ff9e00 !important;
}

.media-box {
	position: relative;
	overflow: hidden;
	box-shadow:0px 0px 7.5px 2px rgba(0,0,0,0.12);
}

.icon.icon-tuijian {
	font-size: 0.65rem;
	position: absolute;
	top: -4px;
	left: -4px;
}

.continent-ul {
	height: 212px;
}

.select_first_ul {
	height: 212px;
	overflow-x: hidden;
	border-top: 1px solid #ddd;
}

.select_second_ul {
	overflow: auto;
	height: 222px;
}
/*筛选*/
.focus-p {
	border-bottom: 1px #FF9800 solid !important;
	color: #FF9800 !important;
}

.select_textul {
	width: auto !important;
	max-height: initial !important;
}

.city_select_ul {
	height: 350px !important;
}