.queryList {
	width: 100%;
	margin-top: 18px;
	border-right: 1px solid #eee;
}

.queryList table {
	table-layout: fixed;
}

.queryList table th, .queryList table td {
	/*white-space: nowrap;*/

}

.queryList table#pageTab {
	margin-top: 0px;
}

.queryList table tr.listTit {
	/* background: url("../images/titBg.png") repeat-x left bottom; */

}

.queryList table tr.listTit th {
	height: 21px;
	color: #000;
	padding: 0 6px;
	text-align: center;
	border-right: 1px solid #B7BABC;
	border-bottom: 1px solid #B7BABC;
	font-weight: normal;
}

.queryList table tr.listTit td {
	height: 21px;
	color: #000;
	padding: 0 7px;
	text-align: center;
}

.queryList table td {
	height: 86px;
	text-align: center;
	border-right: 1px solid #eee;
	padding: 0 6px;
	border-bottom: 1px solid #eee;
	word-wrap: break-word;
}

.queryList table .grayBg {
	background: #f7f7f7;
}

.queryList table .hoverBg {
	background: #B2E1FF;
}

.queryList .lookBtn {
	text-decoration: underline;
	color: #1A6968;
	margin: 0 4px;
}

.queryList {
	width: 100%;
	overflow-x: hidden;
}

.queryBox {
	min-width: 300px;
}

.panel-header, .panel-body {
	border-color: #eee;
}

.datagrid-header, .datagrid-td-rownumber {
	background: transparent;
}

.datagrid-header table td {
	height: 45px;
}

.datagrid-cell {
	white-space: normal;
	overflow: auto;
}

.datagrid-cell-c1-billingWeight, .datagrid-cell-c1-cargoSize,
	/* .datagrid-cell-c1-cargoAttr, */ .datagrid-cell-c1-declare,
	.datagrid-cell-c1-reService {
	/* width: 300px !important; */

}

.datagrid-row-selected {
	background: transparent;
}

.datagrid-row-over, .datagrid-header td.datagrid-header-over {
	background: transparent;
}

.datagrid-view1 table tbody tr td {
	border-right: 3px solid #eee;
	box-shadow: 0px 0px 10px 0px #e0e0e0;
}