{include file="public/header" /}
<div class="mainbox animated fadeInRight">
	<div class="mainnav_title">
	    <a class="on">管理员列表</a>
		{include file="public/menu_right" /}
	    <a class="bth-rand fr" href="javascript:langocation.replace(location.href);" title="刷新"><b class="uzfont uzico-shuaxin"></b></a>
    </div>
<table  class="search_table" width="100%">
	<tr>
		<td class="search">
			<form action="{:url('user/index')}" method="get">
			  <input type="text" name="keyword"  class="input-text" value="{$Think.param.keyword}" placeholder="请输入用户名" />
			  <input type="hidden" name="tree" value="{$tree_id}"/>
			  <input type="submit" value="{:lang('chaxun')}"  class="button" />
				<a href="{:url('user/index')}" class="button">重置</a>
			</form>
		</td>
	</tr>
</table>
<div class="table-list">
    <table width="100%" cellspacing="0">
        <thead>
      		<tr>
				<th width="40">ID</th>
				<th align="left">{:lang('username')}</th>
				<th width="110">{:lang('user_group')}</th>
				<th width="120">{:lang('email')}</th>
				<th width="150">{:lang('user_reg_time')}</th>
				<th  width="30">{:lang('status')}</th>
				<th  width="120">{:lang('manage')}</th>
      		</tr>
      	</thead>
      	<tbody>
      		{volist name="ulist" id="v" key="k"}
      		<tr>
				<td align="center">{$v['id']}</td>
				<td>{$v['username']}</td>
				<td align="center">{$v['rname'] ? $v['rname'] : '用户组不存在'}</td>
				<td>{$v['email']}</td>
				<td align="center">{:date('Y-m-d H:i:s',$v['createtime'])}</td>
				<td align="center">
				{eq name="v['status']" value="1"}
				{:lang('enable')}
				{else /}
				{:lang('disable')}
				{/eq}
				</td>
				<td align="center">
					<a href="{:url('user/edit')}?id={$v['id']}&tree={$tree_id}">{:lang('edit')}</a> |
					<a href="javascript:confirm_delete('{:url(\'user/del\')}?id={$v[\'id\']}&tree={$tree_id}')">{:lang('delete')}</a>
				</td>
      		</tr>
      		{/volist}
      	</tbody>
    </table>
</div>
</div>
<div id="pages" class="page">{$ulist->render()}</div>
