<!-- 底部 网站信息 -->
<footer class="footer footer-index paddingBottom80">
    <div class="container-foot">
        <div class="nav-footer">
            <a href="{:url('index/about')}">关于我们</a>&nbsp;|&nbsp;
            <a href="{:url('login/register')}">企业入驻</a>&nbsp;|&nbsp;
            <a href="{:url('service/index')}">生态伙伴</a>
        </div>
        <div>联系我们：<a href="tel:075586543644">13829730554</a><br>©2022 广州草帽跨境电子商务有限公司<br>
            <a href="http://beian.miit.gov.cn/" target="_blank" rel="nofollow">粤ICP备2022007460号-1</a>
        </div>
    </div>
</footer>
