{extend name="layout/base" /}
{block name="title"}编辑资料{/block}
{block name="load"}

<!-- css -->
<link rel="stylesheet" href="__MLAYUI__/css/layui.css">
<link rel="stylesheet" href="__MCSS__/user_common.css">
<style type="text/css">
    .headerlist{
        margin-top:10px !important;
        height: 0.19rem !important;
    }
</style>

<!-- js -->
<script src="__MLAYUI__/layui.js"></script>
<script src="__MJS__/user_common.js"></script>

{/block}
<!-- 主体内容 -->
{block name="main"}
        <div class="container">
            <style>
                .data-list {
                    margin-top: 0;
                    font-size: 0.14rem
                }
                
                .info-ul li {
                    min-height: 50px;
                    line-height: 50px;
                    border-bottom: 1px solid #eee;
                    background: #fff;
                    padding: 0 10px;
                    font-size: 0.16rem
                }
                
                .thumb-div {
                    padding: 15px 0;
                    float: left
                }
                
                .thumb-div .user-thumb {
                    float: left
                }
                
                .thumb-div .user-thumb img {
                    width: 81px;
                    height: 81px;
                    border-radius: 50%
                }
                
                .thumb-div .tips {
                    float: left;
                    margin-left: 38px;
                    font-size: 16px;
                    line-height: 82px
                }
                
                .info-ul .fa {
                    line-height: 113px;
                    font-size: 20px;
                    float: right
                }
                
                .info-ul .title {
                    width: 90px;
                    float: left
                }
                
                .info-ul .data {
                    color: #999;
                    margin-left: 10px
                }
                
                .info-ul li .desc {
                    line-height: 22px;
                    padding-top: 14px
                }
                
                .btn-div {
                    padding: 20px 10px;
                    background-color: #fff
                }
                
                .btn-div .btn {
                    border-radius: 5px;
                    color: #fff;
                    width: 49%;
                    height: 35px
                }
                
                .btn-div .btn-cannel {
                    background-color: #b3b3b3;
                    border: 1px solid #b3b3b3
                }
                
                .btn-div .btn-ok {
                    background-color: #fc9d27;
                    border: 1px solid #fc9d27
                }
                
                .layui-form {
                    margin-top: 10px
                }
                
                .layui-form-item {
                    border-bottom: 1px solid #eee;
                    background: #fff;
                    margin-bottom: 0;
                    padding-top: 10px
                }
                
                .layui-form-label {
                    width: 60px
                }
                
                .layui-form-item .layui-input-inline {
                    margin: 0 10px 10px 95px
                }
            </style>
            <div class="data-list">
                <ul class="info-ul">
                    <li style="height: 110px;" id="edit_img">
                        <div class="thumb-div">
                            <div class="user-thumb">
                                <img id="avatar_img" src="{$avatar}" alt="神织知更">
                                <input type="hidden" name="user_thumb" value="{$avatar}" class="avatar_img_value">
                            </div>
                            <div class="tips">修改头像</div>
                        </div> <i class="fa fa-angle-right fr"></i>
                    </li><input class="layui-upload-file" type="file" name="file">
                </ul>

                <div class="layui-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label">登录帐号</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" disabled="disabled" value="{$username}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户昵称</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input user_name" value="{$user.nickname}">
                        </div>
                    </div>
                    <!-- <div class="layui-form-item">
                        <label class="layui-form-label">个人网站</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input user_website" value="www.akali.com">
                        </div>
                    </div> -->
                    <div class="layui-form-item">
                        <label class="layui-form-label">简介</label>
                        <div class="layui-input-inline">
                            <textarea name="desc" class="layui-textarea user_desc">{$user.introduction}</textarea>
                        </div>
                    </div>
                </div>


                <div class="btn-div">
                    <button type="button" class="btn btn-cannel">取消</button>
                    <button type="button" class="btn btn-ok">修改</button>
                </div>
            </div>
            <script>
                $(function() {
                    $(".btn-ok").click(function() {
                        var userName = $(".user_name").val();
                        if (!userName) {
                            layer.msg('用户昵称不能为空', {
                                icon: 0
                            });
                        }
                        var loading = layer.load();
                        $.ajax({
                            url: '/index/user_api/changeInfo',
                            type: "POST",
                            data: {
                                user_name: userName,
                                // user_website: $(".user_website").val(),
                                user_desc: $(".user_desc").val(),
                                // user_thumb: $(".avatar_img_value").val(),
                            },
                            dataType: 'json',
                            error: function() {
                                layer.close(loading);
                                layer.msg('网络错误！', {
                                    icon: 2
                                });
                            },
                            success: function(json) {
                                layer.close(loading);
                                if (json.code == 200) {
                                    layer.msg(json.msg, {
                                        icon: 1
                                    });
                                    window.location.href = '/index/user/index';
                                } else {
                                    layer.msg(json.msg, {
                                        icon: 2
                                    });
                                }
                            }
                        });
                    });

                    $(".btn-cannel").click(function() {
                        window.location.href = '/';
                    });
                });
            </script>

            <script>
                layui.use(['upload', 'element', 'layer'], function() {
                    var $ = layui.jquery,
                        upload = layui.upload,
                        element = layui.element,
                        layer = layui.layer;

                    //绑定原始文件域
                    upload.render({
                        elem: '#edit_img',
                        url: "/index/user_api/updateAvatar", //改成您自己的上传接口
                        before: function(obj) {
                            layer.load(1, {
                                shade: [0.1, '#fff'] //0.1透明度的白色背景
                            });
                        },
                        done: function(res) {
                            layer.closeAll('loading'); // 关闭loading
                            if (res.code == 200) {
                                layer.msg('修改成功');
                                $('#avatar_img').attr('src', res.data.src);
                                $('.avatar_img_value').val(res.data.src);
                            } else {
                                layer.msg('修改失败');
                            }
                            console.log(res)
                        }
                    });

                });
            </script>
        </div>
    </div>
{/block}