<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>文件上传</title>
	<link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
	<link rel="stylesheet" href="__JS__/zyUpload/skins/zyupload-1.0.0.css " type="text/css">
	<script type="text/javascript" src="__JS__/jquery.min.js"></script>
	<script type="text/javascript" src="__JS__/layer-v2.3/layer.js"></script>
</head>
<body>
	<div class="usezan_upload">
		<div id="usezan_upload"></div>
    </div>
<script type="text/javascript" src="__JS__/zyUpload/zyupload.basic-1.0.0.js"></script>
</body>
<script type="text/javascript">
$(function(){
	// 初始化插件
	var usezan_album = "{:config('usezan_album')}",
		usezan_class = "{$upload['obj']}", //类名
        usezan_type  = "{$upload['isthumb']}", //文件类型
        usezan_size  = "{$upload['filesize']}", //大小
        usezan_imgs  = "{$upload['imgs']}",//多图、单图
        usezan_path  = "{$upload['path']}",
        usezan_url   = "{$upload['url']}";
    var Upload = "/{$module}/"+usezan_url+"?type="+usezan_type+"&filesize="+usezan_size+"&imgs="+usezan_imgs+"&path="+usezan_path; //上传地址
	$("#usezan_upload").zyUpload({
		width            :   "510px",                 // 宽度
		height           :   "226px",                 // 宽度
		itemWidth        :   "140px",                 // 文件项的宽度
		itemHeight       :   "115px",                 // 文件项的高度
		url              :   Upload,              // 上传文件的路径
		fileType         :   [{$upload['type']|raw}],// 上传文件的类型
		fileSize         :   {$upload['filesize']},   // 上传文件的大小
		multiple         :   false,                   // 是否可以多个文件上传
		dragDrop         :   false,                   // 是否可以拖动上传文件
		tailor           :   false,                   // 是否可以裁剪图片
		del              :   true,                    // 是否可以删除文件
		finishDel        :   false,  				  // 是否在上传文件完成后删除预览
		/* 外部获得的回调接口 */
		onSelect: function(selectFiles, allFiles){    // 选择文件的回调方法  selectFile:当前选中的文件  allFiles:还没上传的全部文件
		},
		onDelete: function(file, files){              // 删除一个文件的回调方法 file:当前删除的文件  files:删除之后的文件
			console.info("当前删除了此文件：");
			console.info(file.name);
		},
		onSuccess: function(file, response){
			var data = $.parseJSON(response);
			layer.msg(data.msg);
		},
		onFailure: function(file, response){          // 文件上传失败的回调方法
			console.info("此文件上传失败：");
			console.info(file.name);
		},
		onComplete: function(response){
			setTimeout(function () {
				parent.layer.closeAll();
			},1500);
		}
	});
	
});
</script>
</html>