{include file="public/header" /}
<div class="mainbox animated fadeInRight">
	<div class="mainnav_title">
	    <a class="on">管理员资料</a>
	    <a class="bth-rand fr" href="javascript:location.replace(location.href);" title="刷新"><b class="glyphicons refresh"></b></a>
    </div>
<form method='post' id="myform" action="">
<table cellpadding="0" cellspacing="0" class="table_form" width="100%">
	<tr>
		<td width="120">{:lang('username')}</td>
		<td>{$user.username}</td>
	</tr>
	<tr>
		<td  width="120">{:lang('realname')}</td>
		<td><input type="text" class="input-text"  name="realname" value="{$user.realname}"></td>
	</tr>
	<tr>
		<td>{:lang('email')}</td>
		<td>
		    <input type="text" class="input-text" name="email" value="{$user.email}" validate="required:true,email:true,minlength:1, maxlength:40">
		</td>
	</tr>
	<tr>
		<td>{:lang('sex')}</td>
		<td>
			<input type="radio" name="sex" value="1" {eq name='user.sex' value='1'}checked{/eq} />{:lang('sex1')}&nbsp;
			<input type="radio" name="sex" value="2" {eq name='user.sex' value='2'}checked{/eq} />{:lang('sex2')} &nbsp;
			<input type="radio" name="sex" value="3" {eq name='user.sex' value='3'}checked{/eq} />{:lang('sex0')}
		</td>
	</tr>
	<tr>
		<td>{:lang('telephone')}</td>
		<td><input type="text" class="input-text"  name="tel" value="{$user.tel}"></td>
	</tr>
</table>
<div class="btn">
	<input type="hidden" name="id" value="{$user.id}" />
	<input type="submit" value="{:lang('dosubmit')}" class="button" />
	<input type="reset"  value="{:lang('cancel')}" class="button" />
</div>
</form>
