{include file="public/header" /}
<div class="mainbox animated fadeInRight">
    <div class="mainnav_title">
        <a class="on">关键词列表</a>
        <a class="add-edit " href="{:url('keyword/add')}">[<b class="uzfont uzico-add"></b>关键词添加]</a>
        <a class="bth-rand fr" href="javascript:location.replace(location.href);" title="刷新"><b class="uzfont uzico-shuaxin"></b></a>
    </div>
    <table class="search_table" width="100%">
        <tbody>
            <tr>
                <td class="search">
                    <form action="{:url('keyword/index')}" method="post">
                        <input id="title" type="text" class="input-text" name="keyword" placeholder="关键字搜索" value="">
                        <input type="submit" value="查询" class="button">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <form name="myform" action="{:url('keyword/sort')}" method="post">
        <div class="table-list">
            <table width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th width="40">排序</th>
                        <th width="40">ID</th>
                        <th width="100" align="center">热门关键词</th>
                        <th align="left">关键词名称</th>
                        <th align="left">{:lang('manage')}</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach $list as $key => $value}
                    <tr>
                        <td width="40" align="center"><input name="sort[{$value.id}]" type="text" size="3" value="{$value.sort}" class="input-text-c"></td>
                        <td align='center'>{$value.id}</td>
                        <!-- <td width="100" align="center">{$value['hot_spot'] ? '是' : '否'}</td> -->
                        <td align="center">
                            <a onclick="ajax_status(this)" data-id="{$value.id}" data-url="{:url('ajax/status', ['id' => $value.id, 'value' => $value.hot_spot, 'field' => 'hot_spot', 'db' => 'keyword'])}" class="bth-a ajax-status {$value.hot_spot == 1 ?: 'error-c'}"></a>
                        </td>
                        <td>{$value.name}</td>
                        <td align="center">
                            <a href="{:url('keyword/edit', ['id' => $value.id])}">修改</a> |
                            <a href="javascript:del({$value.id});">删除</a>
                        </td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
            <div class="btn"><input type="submit" class="button" name="dosubmit" value="{:lang('listorder')}" /></div>
        </div>
    </form>
</div>
<div id="pages" class="page">{$list|raw}</div>
<script>
function del(id) {
    layer.confirm('确定要删除关键词吗', function(index) {
        window.location.href = "{:url('keyword/del')}?id=" + id;
        layer.close(index);
    });
}
</script>