{include file="public/header" /}
<div class="mainbox animated fadeInRight">
    <div class="mainnav_title">
        <a class="on">活动报名</a>
        {include file="public/menu_right" /}
        <a class="bth-rand fr" href="javascript:location.replace(location.href);" title="刷新"><b class="uzfont uzico-shuaxin"></b></a>
    </div>
    <table  class="search_table" width="100%">
        <tr>
            <td class="search">
                <form action="{:url('form/activity')}" method="get">
                    <input id="title" type="text" class="input-text keywords" name="keyword" placeholder="关键字搜索" value="{$Think.get.keyword}" />
                    <select class="catid" name="status">
                        <option value="-1" {eq name="keys['status']" value="-1"}selected{/eq}>状态</option>
                        <option value="0" {eq name="keys['status']" value="0"}selected{/eq}>未审核</option>
                        <option value="1" {eq name="keys['status']" value="1"}selected{/eq}>已审核</option>
                    </select>
                    <input type="hidden" name="tree" value="{$tree_id}"/>
                    <input type="submit" value="{:lang('chaxun')}"  class="button" />
                <a href="{:url('form/activity')}" class="button">重置</a>
                </form>
            </td>
        </tr>
    </table>
    <form name="myform" id="myform" action="" method="post">
        <div class="table-list">
            <table width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th width="30"><input type="checkbox" id="check_box" onclick="selectall('ids[]');"></th>
                    <th width="20">ID</th>
                    <th width="80" align="left">封面</th>
                    <th width="150" align="left">姓名</th>
                    <th width="100" align="left">手机</th>
                    <th width="150">报名时间</th>
                    <th width="50">{:lang('STATUS')}</th>
                    <th align="left">备注</th>
                    <!--<th align="left">{:lang('manage')}</th>-->
                </tr>
                </thead>
                <tbody>
                {volist name="list" id="v"}
                <tr>
                    <td  width="30" align="center"><input class="inputcheckbox " name="ids[]" value="{$v['id']}" type="checkbox" ></td>
                    <td width="20" align="center">{$v['id']}</td>
                    <td align="left"><img width="50" src="{$v['lower']['thumb']}" style="cursor:pointer;" onclick="open_img(this)" /></td>
                    <td align="left">{$v['name']}</td>
                    <td align="left">{$v['phone']}</td>
                    <td align="center">{:date('Y-m-d H:i',$v['createtime'])}</td>
                    <td align="center">
                        {eq name="v['status']" value="1"}
                        <a class="bth-a ajax-status" onclick="StatusAjax(this);" data-href="{:url('ajax/statusajax')}?id={$v['id']}&status=0"></a>
                        {else /}
                        <a class="bth-a error-c ajax-status" onclick="StatusAjax(this);" data-href="{:url('ajax/statusajax')}?id={$v['id']}&status=1"></a>
                        {/eq}
                    </td>
                    <td align="left">{$v['remark']}</td>
                    <!--<td align="left">-->
                        <!--<a href="{:url('activity/edit')}?id={$v['id']}&tree={$tree_id}">{:lang('edit')}</a> |-->
                        <!--<a href="javascript:confirm_delete('{:url(\'activity/del\')}?id={$v[\'id\']}&tree={$tree_id}')">{:lang('delete')}</a>-->
                    <!--</td>-->
                </tr>
                {/volist}
                </tbody>
            </table>
            <div class="btn">
                <input type="button" class="button" value="通过审核" onclick="myform.action='{:url(\'form/statusallok\')}';$('#myform').submit();" />
                <a class="button excel" _href="{:url('form/excel')}">导出Excel</a>
            </div>
        </div>
    </form>
</div>
<div id="pages" class="page">{$list|raw}</div>
<script>
    //Excel
    $(function () {
        $(".excel").on("click",function () {
            var data = $(".inputcheckbox:checked").map(function (i,e){return $(e).val()}).get().join(','),
                _url = $(this).attr("_href"),
                _keys = $.trim($(".keywords").val());
            $.post(_url,{data:data},function(data){
                if (data.status) {
                    window.location.href = "{:url('form/excel')}?excid="+data.excid+'&keys='+_keys;
                }
            },'json');
        });
    })
</script>