{extend name="layout/base" /}
{block name="title"}关于我们{/block}
{block name="load"}

<!-- css -->
<link href="__MCSS__/single.css" rel="stylesheet" type="text/css">

<!-- js -->

{/block}
<!-- 主体内容 -->
{block name="main"}
    <div class="container">
        <div class="site-index">
            <h2 class="c_til">关于我们</h2>
            <div class="about_con">
                <p>
                    广州草帽电子商务有限公司（简称：速卖通草帽）成立于2013年，是速卖通大学官方培训机构，同时负责速卖通平台广州、佛山、中山、江门等区域的中国好卖家招商，专注于速卖通线下培训和线上教育两大培训业务，主要有线上课程、进阶课程、高阶课程、管理课程、品牌孵化、代运营等速卖通跨境电商培训。
                </p>
            </div>
        </div>
    </div>
{/block}
{block name="script"}
<script>
    HOME_URL = "https://www.caomaokj.com";
</script>
{/block}