<!-- 底部 -->
<footer class="footer">
    <div class="container">
        <div class="footer_text">
            <p>合作伙伴</p>
            <ul>
                <!-- <li><a href="http://www.eccang.com/" target="_blank">易仓科技</a></li> -->
            </ul>
        </div>
        <div class="footer_text">
            <p>优秀资源</p>
            <ul>
                <li><a href="{:url('logistics/index')}" target="_blank">物流</a></li>
                <li><a href="{:url('home/index')}" target="_blank">干货</a></li>
            </ul>
        </div>
        <div class="footer_text">
            <p>草帽跨境</p>
            <ul>
                <li><a href="{:url('index/about')}" target="_blank">关于我们</a></li>
                <li><a href="{:url('login/register')}" target="_blank">企业入驻</a></li>
                <li><a href="{:url('service/index')}" target="_blank">生态伙伴</a></li>
            </ul>
        </div>
        <div class="footer_text">
            <p>联系我们</p>
            <ul>
                <li>电话：13829730554</li>
                <li>邮箱：3004630833@qq.com</li>
                <li>地址：广州市白云区鹤龙一横路<br>1号 6006 铺</li>
            </ul>
        </div>
        <div class="footer_text wechat">
            <p>草帽跨境公众号</p>
            <div>
                <img src="__AIMG__/QR_code/code_caomao_public.jpg" alt="草帽跨境公众号">
            </div>
        </div>
        <div class="footer_text wechat">
            <p>速卖通草帽</p>
            <div>
                <img src="__AIMG__/QR_code/code_smt_public.jpg" alt="速卖通草帽公众号">
            </div>
        </div>
    </div>
	<!-- 如果是首页 则显示 -->
    {eq name=":request()->url()" value="/"}
    <div class="container pb0 color-666">
        友情链接：
        {foreach $links as $value}
        <a class="pr5" href="{$value.url}" target="_blank">{$value.name}</a>
        {/foreach}
    </div>
	{/eq}
</footer>
<footer class="footer_copyright">
    <div class="container">Copyright ©2022 广州草帽跨境电子商务有限公司版权所有 &nbsp;&nbsp;
        <a href="http://beian.miit.gov.cn/" target="_blank" rel="nofollow">粤ICP备2022007460号</a>
    </div>
</footer>
<script>
    // Demo
    layui.use('form', function() {
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data) {
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });
</script>
<script type="text/javascript" src="__AJS__/search.js"></script>
</body>

</html>