
<!-- 左侧跨境干货文章列表 -->
<div class="left_cont">
    <div class="clear"></div>
    <div class="wenzhang_nav">
        <div class="article_type fenlei_article_style current_select_type" category="0" id="category_0"> 全部 </div>
        {foreach $category as $key => $value}
        <div class="article_type fenlei_article_style" category="{$value.id}" id="category_{$value.id}">{$value.catname}</div>
        {/foreach}
    </div>

    <ul class="article_body" style="margin-top: 30px;">

        {foreach $leftArticle as $key => $value}
        <li class="article_li">
            <dl class="wz_info clearfix">
                <dt>
                    <span class="labelBg{$value.catid}  categoryLabel">{:getCateName($value.catid)}</span>
                    <a href="{:url('home/article', ['id' => $value.id])}" title="{$value.title}" data-ac="{:getCateName($value.catid)}">
                        <img class="lazy" data-original="{$value.thumb}" alt="{$value.title}" style="display: inline;">
                    </a>
                </dt>
                <dd>
                    <h4>
                        {eq name="$value.hot_spot" value="1"}<span class="hot_title" style="margin-right: 5px;">热门</span>{/eq}
                        <a href="{:url('home/article', ['id' => $value.id])}" title="{$value.title}">{$value.title}</a>
                    </h4>
                    <div class="bot_tips">
                        <span class="color-aaa font12">
                            <!-- 作者 -->
                            <a href="{:url('home/article', ['id' => $value.id])}" class="pr15 a-small">草帽跨境</a>
                            <!-- <a href="{:url('user/detail', ['id' => 124])}" class="pr15 a-small">草帽跨境</a> -->
                            <span class="fr pr10">
                            </span>
                        </span>
                    </div>
                    <p><a href="{:url('home/article', ['id' => $value.id])}" title="{$value.title}">{$value.description}</a></p>
                    <div class="tags_div_jzc tags_and_time">
                        <div class="tagItems">
                            {foreach $value.keywords as $val}
                            <span class="keyword_span"><a href="{:url('keyword/article', ['id' => $val.id])}">{$val.name}</a> </span>
                            {/foreach}
                        </div>
                        <div class="publish_time">
                            <img class="publish_time-img" style="" src="__AIMG__/6b13cde4eec0be19.png" title="发布时间.png" alt="发布时间.png">
                            <span>{:postTime($value.createtime)}<span>
                                </span></span>
                        </div>
                    </div>
                </dd>
            </dl>
        </li>
		{/foreach}

    </ul>
    <div class="load-more" id="index_more" onclick="getMoreArticle()">
        <!-- <img src="__AIMG__/41a46d0dfbf7a896.png" style="width: 12px;margin-top: -3px;margin-right: 5px" alt="加载更多"> -->
        加载更多
    </div>
</div>