<!-- 右边功能条 -->
<div class="float_tool_bar">
    <div class="item sign">
        <span class="over">
            <div class="icon">
                <div class="img share_img"></div>
            </div>
            <div class="txt share_hover"></div>
        </span>
        <span class="active"></span>
        <div class="bdshare_box">
            <div class="bdshare_title">分享到</div>
            <div class="bdsharebuttonbox bdshare-button-style1-16" data-bd-bind="1619766002701">
                <a class="bds_mshare" data-cmd="mshare" title="分享到一键分享">一键分享</a>
                <a class="bds_weixin" data-cmd="weixin" title="分享到微信">微信</a>
                <a class="bds_qzone" data-cmd="qzone" title="分享到QQ空间">QQ空间</a>
                <a class="bds_tsina" data-cmd="tsina" title="分享到新浪微博">新浪微博</a>
                <a class="bds_renren" data-cmd="renren" title="分享到人人网">人人网</a>
                <a class="bds_mail" data-cmd="mail" title="分享到邮件分享">邮箱</a>
            </div>
        </div>
    </div>
    <a href="javascript:void(0);" class="item">
        <span class="over">
            <div class="icon">
                <div class="img collect_img"></div>
            </div>
            <div class="txt collect_hover"></div>
        </span>
        <span class="active"></span>
        <div class="detail" style="width: 125px; height: 125px;">
            <img class="right-wechat" src="__AIMG__/QR_code/code_smt_public.jpg" alt="草帽跨境微信公众号">
        </div>
    </a>
    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=3004630833&amp;site=qq&amp;menu=yes" class="item">
        <span class="over">
            <div class="icon qq">
                <div class="img qq_img"></div>
            </div>
            <div class="txt qq_hover"></div>
        </span>
        <span class="active"></span>
        <div class="detail">联系草帽跨境客服 </div>
    </a>
    <a href="javascript:void(0);" class="item">
        <span class="over">
            <div class="icon">
                <div class="img phone_img"></div>
            </div>
            <div class="txt phone_hover"></div>
        </span>
        <span class="active"></span>
        <div class="detail">13829730554</div>
    </a>

    <a href="javascript:void(0);" class="item go_top" style="display: none;">
        <span class="over">
            <div class="icon">
                <div class="img top_img"></div>
            </div>
            <div class="txt top_hover"></div>
        </span>
    </a>
</div>