{include file="public/header" /}
<div class="mainbox animated fadeInRight">
    <div class="mainnav_title">
        <a class="on">内容添加</a>
        <a class="add-edit" href="{:url('article/index')}?tree={$tree_id}">[<b class="uzfont uzico-fanhui"></b>返回列表]</a>
        <a class="bth-rand fr" href="javascript:location.replace(location.href);" title="刷新"><b class="uzfont uzico-shuaxin"></b></a>
    </div>
    <form name="myform" id="myform" action="" method="post">
        <table cellpadding=0 cellspacing=0 class="table_form" width="100%">
            <tr>
                <td width="90"><font color="red">*</font><label>所属分类：</label></td>
                <td>
                    <select class="catid" name="catid" validate="required:true">
                        <option value="" selected>请选择分类</option>
                        {foreach $category as $value}
                        <option value="{$value.id}">{$value.catname}</option>
                        {/foreach}
                    </select>
                </td>
            </tr>
            <tr>
                <td width="90"><font color="red">*</font><label>标题：</label></td>
                <td>
                    <div class="thumb_box ">
                        <div class="img-upload">
                            <img class="cthumb" width="100" onclick="up_img('cthumb','thumb','jpg,gif,png,jpeg','10485760','290px',0);" src="__UIMG__/upload_thumb.png" alt="上传封面">
                            <input type="hidden" class="thumb" name="thumb" >
                            <input type="text" class="input-text" name="title" size="50" placeholder="标题" validate="minlength:2,maxlength:80,required:true">
                        </div>
                    </div>
                </td>
            </tr>
            
            <tr>
                <td width="90"><font color="red">*</font><label>关键字：</label></td>
                <td>
                    <input type="text" class="input-text" name="keyword" size="50" placeholder="例如：电商、开店、海外仓等等" validate="minlength:2,maxlength:10,required:true">
                </td>
            </tr>

            <tr>
                <td width="90"><label>描述：</label></td>
                <td><textarea rows="5" cols="100" name="description" placeholder="内容描述" validate="required:true,maxlength:255"></textarea></td>
            </tr>
            <tr>
                <td width="90"><label>浏览数：</label></td>
                <td>
                    <input type="text" class="input-text" name="view" size="6" placeholder="0">
                </td>
            </tr>
            <tr>
                <td>是否推荐：</td>
                <td>
                    <label><input type="radio" class="input_radio" name="ispos" value="1" > 是</label>&nbsp;&nbsp;
                    <label><input type="radio" class="input_radio" name="ispos" value="0" checked> 否</label>
                </td>
            </tr>

            <tr>
                <td>状态</td>
                <td>
                    <label><input type="radio" class="input_radio" name="status" value="1" checked> 开启</label>&nbsp;&nbsp;
                    <label><input type="radio" class="input_radio" name="status" value="0" > 关闭</label>
                </td>
            </tr>
            <tr>
                <td>添加时间</td>
                <td>
                    <input class="Wdate input-text" name="createtime" type="text" size="25" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" value="{:date('Y-m-d H:i:s',time())}">
                </td>
            </tr>

            <tr class="editor">
                <td>内容:</td>
                <td style="width:1000px;"><script id="container" name="content" type="text/plain"></script></td>
            </tr>

        </table>
        <div id="bootline"></div>
        <div id="btnbox" class="btn">
            <input type="submit" value="{:lang('dosubmit')}" class="button" />
            <input type="reset" value="{:lang('cancel')}" class="button" />
        </div>
    </form>
</div>
<script type="text/javascript" src="__UJS__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__UJS__/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" src="__UJS__/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">

    $("form").submit(function(e){
        var val = $("input[ name='thumb']").val();
        if(val == ''){
            layer.msg('封面不能为空', {icon:2});
            return false;
        }
    });

    var ue = UE.getEditor('container', {
        initialFrameHeight: 300,
        allowDivTransToP:false,
        autoClearEmptyNode:false
    });
</script>